@media (max-width: 1200px) {
	.product-detail .product-info .info-content .btn-add-to-cart,
	.product-detail .product-info .info-content .btn-buynow {display: block;width: 100%;margin-left: 0;margin-top: 10px;}
	.header-center .categories-search-form .search-box {width: 40%;}
	.checkout-sidebar .discount-review input.searchbox,
	.checkout-sidebar .discount-review button {width: 100%;float: none;}
	.news-content-top .focus-big {float: none;width: auto;}
	.news-content-top ul.module-vertical-list {float: none;width: auto;}
	.news-content-top ul.module-vertical-list li:first-child {margin-top: 15px;}
}

@media (max-width: 992px) {
	.logo {margin-bottom: 20px;text-align: center;}
	.header-center .categories-search-form .box-categories .mega-menu-title {padding: 12px 16px;}
	.categories-search-form .box-categories .title span{display: none;}
	.header-center .categories-search-form .top-cart-contain {width: 20%;}
	.advisory-content {width: 100%;}
	.service-box .service-text {width: 175px;}
	.service-box .service-text h3 {margin-top: 8px;}
	.home-row.vc-custom-register {padding: 20px 0px;}
	.cart-detail .cart-info {width: 50%;}
	.cart-detail .input-quantity {width: auto;}
	.categories-search-form .megamenu-inner ul .pane-container {width: 250%;}
	.categories-search-form .megamenu-inner .pane-container li a {padding: 10px 15px 10px 15px;}
	.news-topic li a {padding-bottom: 25px;}
	.content-page-404 {margin-top: 50px;}
	.img-page-404 {margin-right: 0px;}
}
@media (max-width: 800px) {
	.payment-cart .col-left,
	.payment-cart .col-right {width: 100% !important;}
	.checkout-sidebar .scheckout-review-order .payment-subtotal,
	.checkout-sidebar .scheckout-review-order .cart-subtotal{display: table;width: 100%;}
	.checkout-sidebar .discount-review tr {text-align: center;display: table;width: 100%;}
	.checkout-sidebar .discount-review input.searchbox,
	.checkout-sidebar .discount-review input.searchbox, .checkout-sidebar .discount-review button {height: 40px;}
	.product-content .product-box ul li.items {width: 33.33333%;}
	.product-content .product-box ul li.items .preview {height:auto;}

}
@media (min-width: 768px) {
	.form-sign-up .modal-dialog {width: 420px !important;}
}
@media (max-width: 768px) {
	.product-content .product-box ul li.items {width: 33.33333%;}
	.product-content .product-box ul li.items .preview {height:auto;}
	.col-right, .col-left {width: 100% !important;left: 0 !important;right: 0 !important;}
	.home-row.vc-custom-register .register-heading {text-align: center;float: none;width: 100%;margin-bottom: 10px;}
	.home-row.vc-custom-register .search-box {float: none;width: 70%;text-align: center;margin: 0 auto;}
	.categories-search-form .megamenu-inner ul .pane-container {left: 0;top: auto;width: 100%;}
	.categories-search-form .megamenu-inner .pane-container li a {padding: 10px 34px 10px 25px;}
	.categories-search-form .megamenu-inner.dropdown-menu {width: 90%;}
	.steps-content .steps {margin-bottom: 10px;}
	.header-center .categories-search-form .top-cart-contain {width: 44px;height: 44px;}
	.header-center .categories-search-form .top-cart-contain .basket .cart_count {font-size: 10px;padding: 3px 7px;top: -10px;right: -5px;}
	.header-center .categories-search-form .top-cart-contain .basket a span.price {display: none;}
	.header-center .categories-search-form .search-box {width: 50%;}
	.content-page-404 {margin-top: 00px;}
}
@media (max-width: 480px) {
	.header-center .categories-search-form .search-box {width: auto;border: 0px #cccccc solid;}
	.header-top .hotline-top, .header-top .email-top,.header-top .slogan-top {float: none;}
	.product-content .product-box ul li.items {width: 100%;}
	.product-content .product-box ul li.items .preview {height:auto;}
	.vc-custom-content .product-heading .banner-width {width: 100%;float: none;margin-bottom: 10px;}
	.advisory-content ul.advisory-box li {float: none;width: 100%;}
	.home-row.vc-custom-register .search-box input {width: 100%;margin-bottom: 10px;}
	.home-row.vc-custom-register .search-box button {display: block;width: 100%;}
	.footer-midle .preview,
	.footer-midle .description {width: 100%;float: none;}
	.footer-midle .preview img {width: 200px}
	.service-box .service-text {width: 149px;}
	
	.cart-detail .preview {width: 100%;}
	.cart-detail .cart-info {width: 60%;padding: 0;margin-right: 10px;}
	.news-box .news-info {float: none;width: 100%;padding-left: 0;}
	.news-box .preview {float: none;width: 100%;margin-bottom: 10px;}
	.payment-detail .form-content ul li {width: 33.3333%;}
	.payment-form .payment-success .success-content {background: url(../image/icon-success.png) no-repeat center 40px;padding: 200px 10px 20px 10px;}
	.header-center .categories-search-form #search_mini_form {display: none;}
	.header-center .categories-search-form .search-box a {display: block;}
	.header-center .categories-search-form .form-sign-up .account_block {padding: 2px 0px 2px 35px;}
	.news-content-center ul.module-horizonal-list li.items {float: none;}
	.news-content-center ul.module-horizonal-list li.items .preview {float: none;width: auto;margin-bottom: 20px;}
	.news-content-center ul.module-horizonal-list li.items .news-info {float: none;width: auto;padding-left: 0px;}
}

@media (max-width: 320px) {
	.cart-detail .cart-info {width: 100%;padding: 0;margin-right: 0px;}
	.categories-search-form .megamenu-inner.dropdown-menu {top: 45px;}
}