@import url('https://fonts.googleapis.com/css?family=Roboto');
body {font-family: 'Roboto', sans-serif !important;}
.home-page-width {overflow-x: hidden;}
/*=========================== Begin header ==============================================*/
.header-top {background: #99c046;padding: 5px 0px;}
.header-top .hotline-top,
.header-top .email-top,
.header-top .slogan-top {color: #ffffff;font-size: 13px;float: left;margin-right: 19px;}
.header-top .hotline-top .fa-phone-square,
.header-top .email-top .fa-envelope{margin-right: 10px;}
.header-top .slogan-top {float: right;margin-right: 0px;}
.header-top .slogan-top .icon-slogan {background: url(../image/icon-01.png) no-repeat;padding: 3px 9px;}
.header-center {padding: 23px 0px;}
.header-center .logo img{width: 134px;}
.header-center .categories-search-form .box-categories,
.header-center .categories-search-form .search-box,
.header-center .categories-search-form .top-cart-contain,
.header-center .categories-search-form .form-sign-up {float: left;}
.header-center .categories-search-form .box-categories {margin-right: 10px;}
.header-center .categories-search-form .box-categories .mega-menu-title {padding: 12px 15px 12px 25px;background: #5b9521;cursor: pointer;
	vertical-align: middle;font-weight: 300;color: #ffffff;border-radius: 3px;}
	.header-center .categories-search-form .box-categories .mega-menu-title .title span {margin-left: 5px;}
.header-center .categories-search-form .search-box {width: 45%;margin-right: 10px;border-radius: 3px;background: #fff;border: 1px #cccccc solid;position: relative;}
.header-center .categories-search-form .search-box #search {margin: 0;width: 80%;font-size: 14px;height: 42px;color: #666;padding: 0 20px;
    background: none;outline: none;border: none;line-height: 40px;}
.header-center .categories-search-form .search-box #submit-button {background: #5b9521 url(../image/search-icon.png) no-repeat scroll 15px 13px;border-radius: 0 3px 3px 0;cursor: pointer;line-height: 17px;
    padding: 6px 5px;width: 50px;height: 44px;line-height: 17px;padding: 6px 5px;border: 1px solid #5b9521;position: absolute;right: -1px;top: -1px;}
.header-center .categories-search-form .search-box a{display:none;background: #5b9521 url(../image/search-icon.png) no-repeat scroll center;cursor: pointer;width: 42px;height: 44px;    border-radius: 3px;}
#search-mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search-mobile.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search-mobile input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search-mobile .btn {
	background: #99c046 url(../image/search-icon.png) no-repeat scroll center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
    text-indent: -9999px;
    width: 80px;
}
#search-mobile .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #99c046;
	border-color: #99c046;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}
.header-center .categories-search-form .top-cart-contain {width: 15%;margin-right: 10px;border-radius: 3px;background: #fff;border: 1px #cccccc solid;position: relative;}
.header-center .categories-search-form .top-cart-contain .basket a{padding: 11px 10px 11px 38px;display: block;color: #333;position: relative;}
.header-center .categories-search-form .top-cart-contain .basket a:hover{text-decoration: none;}
.header-center .categories-search-form .top-cart-contain .basket a:before {content: "";position: absolute;background: url(../image/icon-cart.png) no-repeat;width: 23px;height: 20px;
	left: 10px;}
.header-center .categories-search-form .top-cart-contain .basket .cart_count{background: #99c046;padding: 5px 8px;border-radius: 3px;color: #ffffff;position: absolute;right: 4px;top: 6px;}
.header-center .categories-search-form .form-sign-up .account_block {position: relative;padding: 2px 5px 2px 40px;}
.header-center .categories-search-form .form-sign-up .account_block:before {content: "";position: absolute;background: url(../image/icon-acc.png) no-repeat;width: 32px;height: 32px;
	left: 0px;top:6px;}
.header-center .categories-search-form .form-sign-up .account_block a{display: block;color: #333333;}
.categories-search-form .megamenu-inner {left: auto;}
.categories-search-form .megamenu-inner.dropdown-menu {min-width: 224px;border-radius: 0;}
.categories-search-form .megamenu-inner ul {margin: 0;padding: 0;list-style: none;}
.categories-search-form .megamenu-inner ul li.menu-lvl0 > a {display: block;color: #333333;padding: 13px 13px 13px 15px;position: relative;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
	.categories-search-form .megamenu-inner ul li.menu-lvl0 a:hover {background: #5b9521;color: #ffffff;text-decoration: none;}
.categories-search-form .megamenu-inner ul li.menu-lvl0 > a:before {position: absolute;content: "";background: url(../image/icon-category-01.png) no-repeat;width: 6px;height: 11px;
	right: 10px;top: 17px;}
.categories-search-form .megamenu-inner ul li.menu-lvl0 > a:hover:before {background: url(../image/icon-category-hover-01.png) no-repeat;}
.categories-search-form .megamenu-inner ul .pane-container {position: absolute;left:100%;top:0;background: #ffffff;width: 280%;z-index: 999;display: none;box-shadow: -2px 0px 5px 0px rgb(0,0,0,0.3)}
.categories-search-form .megamenu-inner ul li.menu-lvl0:hover .pane-container {display: block;}
.categories-search-form .megamenu-inner .pane-container ul.submenu-lvl1 {float: left;margin-top: 7px;}
.categories-search-form .megamenu-inner .pane-container li {position: relative;}
.categories-search-form .megamenu-inner .pane-container li a {padding: 10px 34px 10px 25px;display: block;color: #333333;}
/*=========================== End header ==============================================*/
/*=========================== Begin page content ==============================================*/
.home-row.vc-custom-banner {margin-bottom: 38px;}
.home-row.vc-custom-banner .slideshow img {width: 100%;}
/*=========================== End banner ==============================================*/
.home-row.vc-custom-saleoff {padding: 29px 0px 39px;background: #f7f7f7;}
.saleoff-heading .title,
.content-heading .title {text-align: center;padding-bottom: 28px;}
.saleoff-heading .title span.icon-title-heading,
.content-heading .title span.icon-title-heading {background: url(../image/icon-title.png) no-repeat;padding: 12px 11px;margin-right: 7px;}
.saleoff-heading .title h3,
.content-heading .title h3 {color: #444444;text-transform: uppercase;font-size: 20px;font-weight: 600;display: inline-block;margin: 0;}

.saleoff-product .items .product-box {padding:3px 3px 20px 3px;background: #ffffff;border: 1px #e1e1e1 solid;}
.saleoff-product .items .product-box .product-info {padding: 5px 25px;text-align: center;}
.saleoff-product .items .product-box .product-info a {display: block;font-size: 14px;color: #333333;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.saleoff-product .items .product-box .product-info a:hover {text-decoration: none;color: #5b9521;}
.saleoff-product .items .product-box .price {text-align: center;display: block;}
.saleoff-product .items .product-box .price span {display: block;color: #ee0b0b;font-size: 12px;font-weight: 600;}
.saleoff-product .items .product-box .preview {position: relative;}
.saleoff-product .items .product-box span.onsale {min-height: auto;min-width: auto;padding: 3px 4px;font-weight: 300;position: absolute;
    text-align: center;line-height: 1;top: 10px;right: 10px;margin: 0;border-radius: 3px;background-color: #FE4C3C;color: #fff;font-size: 11px;}
.button-more-all {text-align:center;padding-top: 40px;}
.button-more-all a {border: 1px #7dbe00 solid;border-radius: 5px;padding: 7px 11px;background: #ffffff;text-transform: uppercase;color:#7dbe00;display: inline-block;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.button-more-all a:hover {text-decoration: none;color: #ffffff;background: #7dbe00;}
/*=========================== End Saleoff ==============================================*/
.home-row.vc-custom-content {padding: 29px 0px 39px;background: #ffffff;}
.vc-custom-content .product-heading {border-bottom: 1px #dfdfdf solid;margin-bottom: 10px;padding-bottom: 18px;}
.vc-custom-content .product-heading .banner-width {position: relative;overflow: hidden;float: left;width: 50%;padding: 0px 15px;}
.vc-custom-content .product-heading .banner-width img {width: 100%;display: block;height: auto;}
.product-content .product-box ul{list-style: none;display: block;clear: both;margin: 0;padding: 0px 6px;}
.product-content .product-box ul li.items {float: left;width: 25%;padding:9px;border-radius: 5px;margin-bottom: 14px; 
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.product-content .product-box ul li.items:hover {box-shadow: 2px 2px 10px 2px #dfdfdf;}
.product-content .product-box ul li.items .preview {border-radius: 5px;overflow: hidden;height: auto;margin-bottom: 10px;}
.product-content .product-box ul li.items .preview img{width: 100%;display: block;}
.product-content .product-box ul li.items .product-info a{display: block;font-size: 16px;color: #555555;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.product-content .product-box ul li.items .product-info a:hover{color: #5b9521;text-decoration: none;}
.product-content .product-box ul li.items .price {padding: 3px 0px;color: #333333;font-weight: 600;font-size: 12px;}

.product-content .filters-panel {display: table;width: 100%;padding: 0 15px;margin-bottom: 10px;}
.product-content .filters-panel .view-product {float: left;margin-top: 5px;}
.product-content .filters-panel .filter-sort {float: right;}
.product-content .filters-panel .filter-sort select.custom-select {border: 1px #dfdfdf solid;box-shadow: none;border-radius: none;padding: 5px;outline: none;}

.pagination-nav {text-align: center;margin-top: 15px;}
.pagination .fa-chevron-left,
.pagination .fa-chevron-right {font-size: 12px;}
.pagination .fa-chevron-left {margin-right: 5px;}
.pagination .fa-chevron-right {margin-left: 5px;}
.pagination>li:first-child>a, .pagination>li:first-child>span {border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;}
.pagination>li:last-child>a, .pagination>li:last-child>span {border-top-right-radius: 0px !important;border-bottom-right-radius: 0px !important;}
.pagination>li>a, .pagination>li>span {color: #333333 !important;margin: 0 15px;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li.active>a,
.pagination>li>span:focus,
.pagination>li>span:hover {color: #ffffff !important; background: #99c046 !important;border: 1px #99c046 solid !important;}
/*=========================== End product ==============================================*/ 
.menu-list {border: 1px #dfdfdf solid;margin-bottom: 15px;margin-top: 51px;}
.menu-list ul.menu-content {list-style: none;padding: 0;margin: 0;}
.menu-list ul.menu-content li {position: relative;}
.menu-list ul.menu-content li a {display: block;color: #444444;text-transform: uppercase;cursor: pointer;padding: 13px 10px 13px 20px;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.menu-list li:hover,
.menu-list li:active,
.menu-list li:focus {background: #bede79;}
.menu-list li ul {list-style: none;padding: 0;margin: 0;}
.menu-list li ul li {padding-left: 15px;}
.menu-list li ul li:hover {background: #99c046;}
.menu-list li ul li a:hover {text-decoration: none;font-weight:normal !important; }

.list-price {border: 1px #dfdfdf solid;padding: 0px 8px;margin-bottom: 15px;}
.list-price .price-heading {font-size: 16px;font-weight: bold;padding: 16px 10px 13px 20px;text-transform: uppercase;}
.list-price ul.price-list {padding: 0px 0px 10px 0px;margin: 0;list-style: none;border-bottom: 1px #dfdfdf solid;}
.list-price ul.price-list:last-child {border-bottom: 0;}
.list-price ul.price-list li{position: relative;}
.list-price ul.price-list li a{display: block;color: #444444;padding: 13px 10px 13px 20px;}
.list-price ul.price-list li a:hover {text-decoration: none;}

.menu-sibar .product-hot {margin-top: 15px;}	
.product-hot {border: 1px #dfdfdf solid;margin-bottom: 15px;margin-top: 51px;}
.product-hot .product-hot-heading {font-size: 16px;font-weight: bold;padding: 16px 0px;text-transform: uppercase;text-align: center;border-bottom: 1px #dfdfdf solid;}
.product-hot ul.product-box {list-style: none;padding: 0;margin: 0;}
.product-hot ul.product-box li {padding: 10px;border-bottom: 1px #dfdfdf solid;position: relative;width: 100%;clear: both;min-height: 1px;}
.product-hot ul.product-box li:last-child {border-bottom: 0;}
.product-hot ul.product-box li .preview {width: 30%;float:left;overflow: hidden;height: auto;border-radius: 5px;}
.product-hot ul.product-box li .preview a {display: block;}
.product-hot ul.product-box li .preview img {width: 100%;display: block;}
.product-hot ul.product-box li .preview .onsale {position: absolute;left: 3px;top: 3px;background: #99c046;color: #ffffff;font-weight: bold;font-size: 12px;
	width: 25px;height: 25px;text-align: center;line-height: 25px;border-radius: 50%;}
.product-hot ul.product-box li .product-info {float: left;width: 70%;padding-left: 10px;}
.product-hot ul.product-box li .product-info a {display: block;color: #333333;margin-top: 5px;font-weight: bold;}
.product-hot ul.product-box li .product-info span.amount {color: #333333;font-size: 12px;}
.product-hot .button-all a{display: block;padding: 14px 0px;text-align: center;color: #777777;text-transform: uppercase;font-size: 12px;font-weight: bold;}
/*=========================== End sidebar ==============================================*/

.advisory-content {width: 1000px;margin: 0 auto;}
.advisory-content ul.advisory-box {margin: 0;padding: 0;list-style: none;}
.advisory-content ul.advisory-box li {float: left;width: 20%;padding: 0px 15px;margin-bottom: 30px;}
.advisory-content ul.advisory-box li a{display: block;position: relative;color: #333333;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.advisory-content ul.advisory-box li a .preview img {width: 100%;display: block;opacity: 0.5;filter: alpha(opacity=0.5);border-radius: 50%;box-shadow: 0px 0px 10px 2px #bababa;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.advisory-content ul.advisory-box li a:hover img {opacity: 1;filter: alpha(opacity=1);}
.advisory-content ul.advisory-box li a p {position: absolute;top: 50%;left: 50%;margin-left: -58px;margin-top: -30px;font-weight: bold;font-size: 24px;text-align: center;}
/*=========================== End advisory ==============================================*/

.home-row.vc-custom-services {background: #f7f7f7;padding: 10px;margin-top: 15px;}
.service-box {padding: 15px 0px;}
.service-box .icon-service-01,
.service-box .icon-service-02,
.service-box .icon-service-03 {background: #9aca3d url(../image/icon-service-03.png) no-repeat center;display: block;border-radius: 50%;float: left;
	width: 88px;height: 88px;margin-right: 15px;}
.service-box .icon-service-01 {background: #9aca3d url(../image/icon-service-01.png) no-repeat center;}
.service-box .icon-service-02 {background: #9aca3d url(../image/icon-service-02.png) no-repeat center;}
.service-box .service-text {float: left;width: 230px;font-size: 18px;}
.service-box .service-text h3 {font-size: 16px;line-height: 24px;}
/*=========================== End services ==============================================*/

.home-row.vc-custom-news {padding: 29px 0px 39px;background: #ffffff;}
.news-box {margin-bottom: 30px;}
.news-box .preview {float: left;width: 40%;}
.news-box .preview img {width: 100%;border-radius: 10px;}
.news-box .news-info {float: left;width: 60%;padding-left: 25px;}
.news-box .news-info .date {font-size: 12px;color: #777777;}
.news-box .news-info a {display: block;font-size: 16px;color: #333333;padding: 10px 0px;margin-bottom: 10px;position: relative;}
.news-box .news-info a:after {position: absolute;content: "";background: #dfdfdf;height: 2px;width: 30px;left: 0;bottom: 0px;}
.news-box .news-info .description p {color: #777777;font-size: 12px;}
/*=========================== End news ==============================================*/
.home-row.vc-custom-register {padding: 49px 0px;position: relative;background: #f7f7f7;}
.home-row.vc-custom-register:before {position: absolute;content:"";background: url(../image/bg-001.jpg) no-repeat;left: 0;bottom:0;width: 190px;height: 149px;}
.home-row.vc-custom-register:after {position: absolute;content:"";background: url(../image/bg-002.jpg) no-repeat;right: 0;bottom:0;width: 122px;height: 146px;}
.vc-custom-register .col-md-10 {z-index: 10;}
.home-row.vc-custom-register .register-heading {float: left;width: 35%;padding-right: 10px;text-align: right;}
.home-row.vc-custom-register .register-heading p {color: #9aca3d;font-weight: bold;}
.home-row.vc-custom-register .register-heading h3 {margin: 0px;}
.home-row.vc-custom-register .search-box {float: left;width: 65%;text-align: right;}
.home-row.vc-custom-register .search-box input {margin: 0;width: 70%;font-size: 14px;height: 42px;color: #666;padding: 0 20px;background: #ffffff;
	outline: none;border: 1px #dfdfdf solid;line-height: 40px;margin-right: 20px;border-radius: 20px;}
.home-row.vc-custom-register .search-box button {height: 42px;padding: 0 30px;background: #9aca3d;outline: none;border: none;color: #ffffff;font-weight: bold;
	border-radius: 20px;}
/*=========================== End page content ==============================================*/
/*=========================== Begin Footer ==============================================*/
#main-footer {background: #171717;}
.footer-top {padding: 60px 0px;}
.footer-top .footer-position .logo-bottom {margin-bottom: 35px;}
.footer-top .footer-position .logo-bottom a{display: block;position: relative;}
.footer-top .footer-position .logo-bottom a:after{position: absolute;content: "";background: #9aca3d;height: 2px;width: 30px;left: 0;top: 60px;}
.footer-top .footer-position ul {list-style: none;padding: 0;margin: 0;}
.footer-top .footer-position ul li {padding:5px 0px;color: #cccccc;}
.footer-top .footer-position ul li a {display: block;color: #cccccc;}
.footer-top .footer-position li ul {list-style:circle;padding-left: 20px;}
.footer-top .footer-position ul li .svg-inline--fa {margin-right: 15px;}
.footer-top .footer-position .footer-heading {color: #ffffff;margin-bottom: 35px;margin-top: 25px;text-transform: uppercase;font-weight: bold;position: relative;white-space: nowrap;}
.footer-top .footer-position .footer-heading:after {position: absolute;content: "";background: #9aca3d;height: 2px;width: 30px;left: 0;top: 35px;}
.footer-top .footer-position ul li.cart-payment {float: left;padding: 0px 5px;}
.footer-top .footer-position ul li.cart-payment a {display: block;}
.footer-top .footer-position ul li.cart-payment img {width: 100%;border-radius: 5px;}

.footer-midle {background: #272727;padding: 30px 0px;}
.footer-midle .preview {float: left;width: 15%;}
.footer-midle .preview img {width: 100%;}
.footer-midle .description {float: left;width: 85%;padding: 8px 0px 0px 15px;}
.footer-midle .description p{color: #cccccc;font-size: 12px;margin: 0;}
.footer-bottom .cpy-right p {color: #cccccc;font-size: 12px;text-align: center;margin: 0;padding: 18px 0;}
/*=========================== End Footer ==============================================*/
.owl-carouse {position: relative;}
.owl-carousel .owl-nav.disabled {display: block !important;}
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {top:50%;position: absolute;text-indent: -9999px;margin-top: -30px !important;}
.owl-carousel .owl-nav .owl-next {right:-13px !important;background: url(../image/btn-arrow-next.png) no-repeat center rgb(0,0,0,0.3) !important;padding: 20px 10px !important;}
.owl-carousel .owl-nav .owl-prev {left:-13px !important;background: url(../image/btn-arrow-prev.png) no-repeat center rgb(0,0,0,0.3) !important;padding: 20px 10px !important;}
.slick-prev,
.slick-next {top:50%;position: absolute;text-indent: -9999px;z-index: 999;}
.slick-prev {left:-11px !important;background: url(../image/btn-arrow-prev.png) no-repeat center rgb(0,0,0,0.3) !important;padding: 20px 10px !important;}
.slick-next {right:-11px !important;background: url(../image/btn-arrow-next.png) no-repeat center rgb(0,0,0,0.3) !important;padding: 20px 10px !important;}

.top-bar {background: #e1e1e1; padding: 10px 0px;}
.top-bar .breadcrumb {text-align: left;background: #fff;padding: 0;margin-bottom: 0;}
.top-bar .breadcrumb ul {list-style: none;padding: 0;margin: 0;}
.top-bar .breadcrumb li {padding-right: 10px;float: left;position: relative;line-height: 18px;}
.top-bar .breadcrumb li a {color: #777;display: block;}
.top-bar .breadcrumb li a:hover {text-decoration: none;}
.top-bar .breadcrumb li.icon-li {background: url(../image/icon-breadcrumb.png) no-repeat scroll 0 center;padding-left: 17px;line-height: 18px;color: #333333;}
/*=========================== End breadcrumb ==============================================*/

.product-detail {margin-bottom: 55px;margin-top: 51px;}
.product-detail .preview img {width: 100%;}
.product-detail .product-info {padding-left: 15px;}
.product-detail .product-info .description,
.product-detail .product-info .price,
.product-detail .product-info .product-pick-color,
.product-detail .product-info .title {margin-bottom: 15px; padding-bottom: 15px;border-bottom: 1px #dfdfdf solid;}
.product-detail .product-info .title p {margin: 0;}
.product-detail .product-info .description p {margin: 0;}
.product-detail .product-info .price span.amount {color: #5b9521;font-size: 45px;font-weight: bold;}
.product-detail .product-info .prco-content button.color {display: inline-block;background: #ffffff;border: 1px #dfdfdf solid;color: #777777;
	padding: 6px 12px;margin: 5px auto;outline: none;}
	.product-detail .product-info .prco-content button.color.active,
.product-detail .product-info .prco-content button.color:active,
.product-detail .product-info .prco-content button.color:hover {border: 1px #99c046 solid; }
.product-detail .product-info .info-content {margin: 5px auto;} 
.product-detail .product-info .info-content .btn-add-to-cart {border: 1px #99c046 solid;outline: none;background: #ffffff;height: 34px;text-align: center;
	color: #99c046;padding: 0px 19px;margin-left: 10px;text-transform: uppercase;}
.product-detail .product-info .info-content .btn-buynow {border: 1px #5b9521 solid;background: #5b9521;outline: none;height: 34px;text-align: center;
	color: #ffffff;padding: 0px 31px;margin-left: 10px;text-transform: uppercase;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.product-detail .product-info .info-content .btn-buynow:hover {border: 1px #99c046 solid;background: #99c046;}
.product-detail .product-info .input-quantity {display: inline-block;} 
.product-detail .product-info .input-quantity .button-outline {border: 1px #dfdfdf solid;outline: none;background: #ffffff;height: 34px;text-align: center;
	width: 34px;color: #777777;font-size: 14px;margin-left: -5px;}
.preview.carousel{position: relative;}
.preview .carousel-inner {border: 1px #dfdfdf solid;}
.preview .carousel-indicators {position: relative;top:auto;left:0;width: 100%;bottom: -25%;margin-left: 0;}
.preview .carousel-indicators li {text-indent:0;display:inherit;float:left;width: 16%;height: auto;margin:15px 5% 5px 0px;border: 0;border-radius: 0;background: #ffffff;}
.preview .carousel-indicators li:last-child {margin-right: 0;}
.preview .carousel-indicators li img {width: 100%;height:auto;border:1px solid #dfdfdf;padding: 2px;}
.preview .carousel-indicators .active img {border:1px solid #bababa;}

/*=========================== End product detail ==============================================*/

.steps-content {background: #e1e1e1; padding: 15px 0px;}
.steps-content .steps {float: left;}
.steps-content .steps .title {font-weight: bold;font-size: 18px;color: #999999;padding: 0px 20px 0px 10px;}
.steps-content .steps.active .title{color: #333333;}
.steps-content .steps .step {font-size: 24px;color: #999999;background: #ffffff;border-radius: 50%;padding:3px 12px;}
.steps-content .steps.active .step {color: #ffffff;background: #5b9521;}
.steps-content .steps .arrow {color: #999999;font-size: 16px;margin-right: 20px;}

.payment-cart .payment-heading .title {position: relative;margin-top: 20px;margin-bottom: 30px;}
.payment-cart .payment-heading .title:after {position: absolute;content: "";width: 34px;height: 2px;background: #5a9521;left: 0;bottom: -14px;}
.payment-cart .payment-heading .title h3 {font-weight: bold;text-transform: uppercase;margin-top: 35px;margin-bottom: 0px;}
.cart-detail {border-bottom: 1px #dfdfdf solid;padding-bottom: 25px;margin-bottom: 25px;}
.cart-detail:last-child {border-bottom:0;}
.cart-detail .preview {border: 1px #dfdfdf solid;width: 20%;float: left;}
.cart-detail .preview img {width: 100%;}
.cart-detail .cart-info {float: left;width: 60%;padding-left: 30px;}
.cart-detail .cart-info .price ins {text-decoration: none;color: #5a9521;display: block;}
.cart-detail .cart-info .price span.amount {font-size: 24px;font-weight: bold;}
.cart-detail .cart-info .price del {color: #999999;font-size: 12px;}
.cart-detail .cart-info .price .onsale {color: #ffffff;background: #ff0000;font-size: 12px;padding: 3px 5px;margin-left: 15px;}
.cart-detail .cart-info .product-remove {margin-top: 10px;}
.cart-detail .cart-info .product-remove a {color: #999999;}
.cart-detail .cart-info .product-remove a:hover {color: #5a9521;text-decoration: none;}
.cart-detail .input-quantity {float: left;width: 20%;margin-top: 15px;}
.cart-detail .input-quantity .button-outline {border: 1px #dfdfdf solid;outline: none;background: #ffffff;height: 34px;text-align: center;
	width: 34px;color: #777777;margin-left: -5px;font-size: 13px;}

.checkout-sidebar {margin-bottom: 30px;display: table;width: 100%;}
.checkout-sidebar .scheckout-review-order,
.checkout-sidebar .discount-review {background: #f7f7f8;margin-bottom: 15px;padding: 0px 10px;display: block;width: 100%;}
.checkout-sidebar .scheckout-review-order .cart-subtotal {border-bottom: 1px #dfdfdf solid;padding: 10px 0px;clear: both;display: table;width: 100%;}
.checkout-sidebar .scheckout-review-order .cart-subtotal:last-child {border-bottom: 0;}
.checkout-sidebar .scheckout-review-order .cart-subtotal .subtotal-title {width: 30%;text-align: left;float: left;}
.checkout-sidebar .scheckout-review-order .cart-subtotal .subtotal-value {width: 70%;text-align: right;float: right;}
.checkout-sidebar .scheckout-review-order .cart-subtotal .total-value {width: 100%;text-align: right;}
.checkout-sidebar .scheckout-review-order .cart-subtotal span.label {font-size: 14px;color: #333333;font-weight: normal;text-align: left;padding: 0;}
.checkout-sidebar .scheckout-review-order .cart-subtotal span.label-s {font-size: 14px;color: #333333;font-weight: normal;text-align: right;padding: 0;display: block;}
.checkout-sidebar .scheckout-review-order .cart-subtotal span.amount {font-size: 16px;color: #999999;font-weight: bold;text-align: right;}
.checkout-sidebar .scheckout-review-order .cart-subtotal span.price {font-size: 24px;color: #5a9521;font-weight: bold;white-space: nowrap;}

.checkout-sidebar .discount-review tbody {display: block;width: 100%;}
.checkout-sidebar .discount-review h3 {text-transform: uppercase;font-size: 14px;font-weight: bold;color: #454545;margin-bottom: 10px;}
.checkout-sidebar .discount-review form.form-search {border: 1px #dfdfdf solid;padding: 2px;background: #ffffff;margin-bottom: 10px;}
.checkout-sidebar .discount-review input.searchbox {width: 61%;color: #999999;border: none;outline: none;box-shadow: none;height: 26px;}
.checkout-sidebar .discount-review button {background: #efefef;border: none;outline: none;box-shadow: none;height: 26px;line-height: 26px;padding: 0px 12px;
	color: #999999;font-weight: bold;text-align: center;float: right;}
.checkout-sidebar .place-order button {background: #5a9521;border: none;outline: none;box-shadow: none;height: 42px;line-height: 42px;
	color: #ffffff;font-weight: normal;font-size: 18px;text-transform: uppercase;display: block;width: 100%;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.checkout-sidebar .place-order button:hover {background: #99c046;}
/*=========================== End cart ==============================================*/

.payment-detail {margin-bottom: 15px;background: #f7f7f8;padding: 19px 10px;border: 1px #f7f7f8 solid;}
.payment-detail.active {border: 1px #5a9521 solid;}
.payment-detail.border-style {border: 1px #5a9521 solid;}
.payment-detail .form-check h3 {font-size: 18px; color: #666666;margin: 0;}
.payment-detail .form-check p {margin: 0;color: #999999;font-size:12px;font-weight: normal;}
.payment-detail .form-check .control-a {text-align: right;}
.payment-detail .form-check .control-a a{display: inline-block;color: #999999;font-size: 12px;padding: 0px 10px;}
.payment-detail .form-check .control-a a:hover {text-decoration: none;color: #5a9521;}
.payment-detail .form-check [type=checkbox]+label,
.payment-detail .form-check [type=radio]+label {
	position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    width: 100%;
}
.payment-detail .form-check {position: relative;display: block;padding-left: 1.25rem;}
.payment-detail .form-check.radio-green [type="radio"]:checked+label:after {
    border-color: #e5e5e5;
    background-color: #5a9521;
}
/*Gap*/

.payment-detail .form-check.radio-pink-gap [type="radio"].with-gap:checked+label:before {
    border-color: #e5e5e5;
}
.payment-detail .form-check [type=radio]+label:after,
.payment-detail .form-check [type=radio]+label:before {
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 21px;
    height: 21px;
    z-index: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}
.payment-detail .form-check [type=radio].with-gap:checked+label:after {
	-webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
}
.payment-detail .form-check [type=radio]:checked+label:after {
	border-color: #e5e5e5;
    background-color: #4285f4;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.payment-detail .form-check.radio-pink-gap [type="radio"]:checked+label:after {
    border-color: #e5e5e5;
    background-color: #5a9521;
}
.payment-detail .form-check [type=checkbox],
.payment-detail .form-check [type=radio] {position: absolute;left: -9999px;visibility: hidden;}
.payment-detail .form-check.radio-green [type=radio]:not(:checked)+label:after {
	z-index: 1;
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
    background-color: #5a9521;
}
.payment-detail .form-check [type=radio]:not(:checked)+label:after {
	z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.payment-detail .form-check [type=radio]:not(:checked)+label:after,
.payment-detail .form-check [type=radio]:not(:checked)+label:before {
	border-color: #e5e5e5;
}
.payment-detail .form-content {padding: 10px;}
.payment-detail .form-content ul {margin: 0;padding: 0;list-style: none;}
.payment-detail .form-content ul li {float: left;width: 16.6666%;padding: 10px;cursor: pointer;}
.payment-detail .form-content ul li.active img {border: 2px #f8aa00 solid;}
.payment-detail .form-content ul li img {width: 100%;border: 2px #ffffff solid;}


.checkout-sidebar .scheckout-review-order .payment-subtotal {border-bottom: 1px #dfdfdf solid;padding: 10px 0px;clear: both;width: 100%;display: table;}
.checkout-sidebar .scheckout-review-order .payment-subtotal:last-child {border-bottom: 0;}
.checkout-sidebar .scheckout-review-order .payment-subtotal .subtotal-title {width: 60%;text-align: left;float: left;}
.checkout-sidebar .scheckout-review-order .payment-subtotal .subtotal-value {width: 40%;text-align: right;float: right;}
.checkout-sidebar .scheckout-review-order .payment-subtotal h3 {color: #333333;font-size: 14px;margin: 0;}
.checkout-sidebar .scheckout-review-order .payment-subtotal span.preview {width: 45px;display: block;float: left;border: 1px #dfdfdf solid;}
.checkout-sidebar .scheckout-review-order .payment-subtotal span.preview img {width: 100%;}
.checkout-sidebar .scheckout-review-order .payment-subtotal span.info {display:block;text-align: left;float: left;padding: 0px 3px;}
.checkout-sidebar .scheckout-review-order .payment-subtotal span.info h3{margin-bottom: 5px;margin-top: 5px;color: #333333;font-size: 12px;}
.checkout-sidebar .scheckout-review-order .payment-subtotal span.info p{margin-bottom: 0px;color: #666666;font-size: 12px;}
.checkout-sidebar .scheckout-review-order .payment-subtotal span.amount {font-size: 12px;color: #666666;}
.checkout-sidebar .scheckout-review-order .payment-subtotal span.label {display:block;text-align: left;color: #333333;font-size: 12px;font-weight: normal;padding: 0;}
.checkout-sidebar .scheckout-review-order .payment-subtotal .price {padding: 2px 5px 2px 2px;font-size: 24px;color: #5a9521;font-weight: bold;text-align: left;white-space: nowrap;}

.payment-form .form-address {margin-bottom: 50px;}
.payment-form .form-address .address-heading {margin: 30px auto;}
.payment-form .form-address .address-heading h3 {font-size: 16px;color: #333333;margin: 0;}
.payment-form .form-address .address-heading h3 a {color: #99c046;text-decoration: underline;}
.payment-form .form-address form.form-info {background: #f7f7f8;padding: 20px 30px;}

.payment-form .payment-success {background: #f7f7f8;}
.payment-form .payment-success .success-content {background: url(../image/icon-success.png) no-repeat 40px center;padding: 70px 30px 70px 200px;margin-bottom: 10px;}
.payment-form .payment-success .success-content h3 {margin-top: 0;margin-bottom: 15px;}
.payment-form .payment-success .success-content a {color:#5a9521;font-weight: bold;}
/*=========================== End payment ==============================================*/

.form-sign-up .modal-header {border-bottom: 0 !important;}
.form-sign-up .modal-footer {border-top: 0 !important;padding: 0px 30px 30px 30px !important;}
.form-sign-up .modal-header,
.form-sign-up .modal-body {padding: 15px 30px !important;}
.form-sign-up .modal-title {text-align: center;padding: 15px 0px 0px 0px;color: #5a9521;font-size: 22px;font-weight: 600;}
.form-sign-up .form-control {font-size: 12px !important;}
.form-sign-up .form-group label {color: #999999;font-size: 12px;}
.form-sign-up .form-group .remember {color: #666666;font-size: 12px;}
.form-sign-up .btn-google,
.form-sign-up .btn-facebook {padding: 10px 7px;background: #ff0000;color: #ffffff;border: 0;border-radius: 5px;}
.form-sign-up .btn-facebook {background: #3a559f;}
.form-sign-up .btn-google .fa-google-plus-g,
.form-sign-up .btn-facebook .fa-facebook-f {float: left;font-size: 20px;margin-left: 12px;}
.form-sign-up .btn-green {background: #5b9521 !important;border-color:#5b9521 !important;outline: none;}
.form-sign-up .btn-block+.btn-block {margin-top: 10px !important;}
.form-sign-up .form-group-bar {position: relative;}
.form-sign-up .form-group-bar .hrOr {background-color: #cdcdcd;height: 1px;}
.form-sign-up .form-group-bar .spanOr {display: block;position: absolute;left: 50%;top: -0.6em;margin-left: -1.5em;background-color: white;width: 3em;text-align: center;}
/*=========================== End Sign-up ==============================================*/
/*=========================== Begin News ==============================================*/
.news-content-top {border-bottom: 1px #dfdfdf solid;padding-bottom: 20px;}
.news-content-top .focus-big {float: left;width: 480px;margin-right: 15px;}
.news-content-top .focus-big .preview img {width: 100%;border-radius: 7px;}
.news-content-top .focus-big .news-info .title a {display: block;color: #2d2d2d;font-size: 24px;}
.news-content-top .focus-big .news-info .title a:hover {text-decoration: none;color: #5b9521;}
.news-content-top .focus-big .news-info .title h1 {margin: 28px auto 15px auto;font-size: 24px;}
.news-content-top .focus-big .news-info .date {color: #9f9f9f;font-size: 12px;margin-bottom: 15px;}
.news-content-top .focus-big .news-info .description {color: #9f9f9f;font-size: 12px;}
.news-content-top ul.module-vertical-list {float: left;width: 250px;padding:0;margin: 0;list-style: none;}
.news-content-top ul.module-vertical-list li {border-bottom: 1px #dfdfdf solid;}
.news-content-top ul.module-vertical-list li:last-child {border-bottom: 0px #dfdfdf solid;}
.news-content-top ul.module-vertical-list li .preview img {width: 100%;border-radius: 7px;}
.news-content-top ul.module-vertical-list li:nth-child(n+2) .preview {display: none;}
.news-content-top ul.module-vertical-list li .news-info .title a {display: block;font-size: 20px;color: #2d2d2d;padding: 20px 0px;}
.news-content-top ul.module-vertical-list li .news-info .title a:hover {text-decoration: none;color: #5b9521;}
.news-content-top ul.module-vertical-list li:nth-child(n+2) .news-info .title a {font-size: 14px;}

.news-content-center {padding-top: 30px;}
.news-content-center ul.module-horizonal-list {padding:0;margin: 0;list-style: none;}
.news-content-center ul.module-horizonal-list li.items {margin-bottom: 28px;float: left;clear: both;}
.news-content-center ul.module-horizonal-list li.items .preview {float: left;width: 33%;}
.news-content-center ul.module-horizonal-list li.items .preview img {width: 100%;border-radius: 5px;}
.news-content-center ul.module-horizonal-list li.items .news-info {float: left;width: 67%;padding-left: 30px;}
.news-content-center ul.module-horizonal-list li.items .news-info .date,
.news-content-center ul.module-horizonal-list li.items .news-info .description {color: #9f9f9f;font-size: 12px;}
.news-content-center ul.module-horizonal-list li.items .news-info . {font-size: 14px;}
.news-content-center ul.module-horizonal-list li.items .news-info a {position: relative;padding: 10px 0px;margin-bottom: 10px;display: block;font-size: 16px;color: #2d2d2d;}
.news-content-center ul.module-horizonal-list li.items .news-info a:hover {text-decoration: none;color: #5b9521;}
.news-content-center ul.module-horizonal-list li.items .news-info a:after {position: absolute;content: "";background: #dfdfdf;height: 2px;width: 30px;left: 0;bottom: 0px;}

.news-hot .news-hot-heading {font-size: 22px;color: #2d2d2d;margin-bottom: 30px;}
.news-hot ul.news-block {padding:0;margin: 0;list-style: none;}
.news-hot ul.news-block li {margin-bottom: 17px;float: left;clear: both;}
.news-hot ul.news-block li .preview {float: left;width: 28%;}
.news-hot ul.news-block li .preview img {width: 100%;border-radius: 5px;}
.news-hot ul.news-block li .news-info {float: left;width: 72%;padding-left: 17px;}
.news-hot ul.news-block li .news-info a {display: block;color: #2d2d2d;margin-bottom: 5px;}
.news-hot ul.news-block li .news-info a:hover {text-decoration: none;color: #5b9521;}
.news-hot ul.news-block li .news-info .date {font-size: 10px;color: #9f9f9f;margin-bottom: 5px;}
.news-hot ul.news-block li .news-info .description {font-size: 12px; color: #9f9f9f; }

.news-topic {margin-top: 30px;}
.news-topic .news-topic-heading {font-size: 22px;color: #2d2d2d;margin-bottom: 30px;}
.news-topic ul{padding:0;margin: 0;list-style: none;}
.news-topic li a {display: block;color: #2d2d2d;padding-left: 50px;padding-bottom:10px;position: relative;}
.news-topic li a span.number-topic {position: absolute;left: 0;top:0px;background: #e1e1e1;color: #999999;font-size: 24px;height: 35px;width: 35px;
    text-align: center;line-height: 35px;font-weight: bold;}

.news-detail {margin-bottom: 30px;}
.news-detail h1 {font-size: 24px;color: #2d2d2d;margin-top: 0;margin-bottom: 17px;}
.news-detail .date {color: #9f9f9f;font-size: 12px;margin-bottom: 17px;}
.news-detail .content-news {color: #666666;margin-bottom: 30px;}
.news-categories {margin-top: 30px;}
.news-categories .news-categories-heading {font-size: 22px;color: #2d2d2d;margin-bottom: 30px;}
/*=========================== End News ==============================================*/
/*=========================== Begin 404 ==============================================*/
.content-page-404 {margin-top: 100px;margin-bottom: 50px;}
.content-page-404 h3 {font-weight: bold;font-size: 30px;}
.content-page-404 button.btn-green {color: #ffffff;background: #75c044;}
.content-page-404 button.btn-green:hover {background: #5b9521;}
.img-page-404 {margin-right: 80px;}
/*=========================== End 404 ==============================================*/