@media (max-width: 1200px) {
	
}

@media (max-width: 1024px) {
	.header-center .logo {width: 20%;}
	.header-center .megamenu-inner {width: 80%;}
	.header-center .megamenu-inner ul li a {font-size: 12px;padding: 44px 12px;}
	.feel-home .content-feel-home ul.feel-rs li {width: auto;}
	.partner-home .content-partner-home ul li {padding: 20px 25px;}
	.signup-email p {width: 70%;font-size: 18px;}
	.signup-email button {width: 30%;}
	/*--About--*/
	.about-history {background-position: 162% 150px;}
	.about-user-benefits {background: none;}
	.about-member-profiles {background: none;}
	.content-about .about-section .title-col-span1 .textover {padding: 40px 25px;}
	.content-about .about-section .title-col-span2 .text-inner-30 {padding:15px;}
	.content-about .content-about-wrap,
	.about .title-heading{width: auto;}
	.content-about ul.about-vertical li {width: 100%;float: none;padding-right: 0;}
	.content-about ul.about-vertical li .image {width: 25%;display: table-cell;float: none;vertical-align: middle;height: auto;}
	.content-about ul.about-vertical li .description {width: 75%;display: table-cell;float: none;vertical-align: middle;}

}

@media (max-width: 992px) {
	.header-bottom .banners .video-title {display: none;}
	/*--About--*/
	.content-about .about-section .title-col-span4 .text-inner-50 span {font-size: 24px;}
	.content-about .about-section .title-col-span1 .textover span,
	.content-about .about-section .title-col-span4 .text-left span,
	.content-about .about-section .title-col-span4 .text-inner-30 span {font-size: 16px;}
	.content-about .about-section .title-col-span2 {float: none;width: 100%;}
	.content-about .about-section .title-col-span2 .imagetext,
	.content-about .about-section .title-col-span2 .text-inner-30 {	width: 50%;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li:after {right: 0;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li a {padding: 35px 60px 35px 0px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a {font-size: 25px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li a:before {right: -2px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:before {right: -7px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:after {right: 3px;}
	.about-history .content-about-history .history-step .content-multi-steps .image,
	.about-history .content-about-history .history-step .content-multi-steps .description {width: auto;padding: 0;float: none;}
	/*-- Contact Form--*/
	.contact-wrap {width: 100%;padding: 0px 15px;}
	.login-form-heading {height: auto;background: none;}
	/*-- Account --*/
	.info-language .rating {margin-left: 5px;}
	.info-hobbies .content .hobbies-block span {margin-bottom: 20px;}
	.info-persion {padding-right: 30px;}
	/*-- Quiz --*/
	.tab-quiz.pull-right {float: none !important;text-align: center;margin-bottom: 30px;}
	.quiz-history .heading-title-quiz {float: none;text-align: center;}
	.content-quiz ul.quiz-block li {float: none;width: 100%;padding-right: 0px;}
	.content-quiz ul.quiz-block li .content-bg{display: table;}
	.content-quiz ul.quiz-block li .image,
	.content-quiz ul.quiz-block li .description {float: none;display: table-cell;vertical-align: middle;}
	.quiz-wrap {width: auto;}
}

@media (max-width: 800px) {
	.header-center .logo {width: 30%;}
	.header-center .megamenu-inner {width: 70%;padding: 30px 0px;}
	.header-center .megamenu-inner .navbar-header .icon-bar{text-align: right;}
	.navbar-toggle,.navbar-collapse{border: 0px solid transparent !important;}
	.navbar-default .navbar-toggle .icon-bar {background-color:#ffffff !important;}
	.navbar-default .navbar-toggle {border-color: transparent !important;}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background-color: transparent !important;border: 0px solid transparent !important;}
	.header-center .megamenu-inner .navbar-header .width-bar1{width: 30px;}
	.header-center .megamenu-inner .navbar-header .width-bar2{width: 25px;}
	.header-center .megamenu-inner .navbar-header .width-bar3{width: 20px;}
	.header-center .megamenu-inner .navbar-header .navbar-brand {color: #ffffff;font-style: normal;font-weight: bold;line-height: normal;font-size: 14px;text-transform: uppercase;
	color: #FFFFFF;display: block;float: right;}
	.megamenu-inner .navbar-collapse {position: absolute;z-index: 100;background: #231F58;width: 100%;}
	.header-center .megamenu-inner ul {float: none;}
	.header-center .megamenu-inner ul li {float: none;}
	.header-center .megamenu-inner ul li a {padding: 15px 12px;font-size: 14px;text-align: left;}
	.header-center .megamenu-inner ul.menu-user{display: none;}
	.feel-home .content-feel-home {width: auto;padding: 0 15px;}
	.feel-home .content-feel-home ul.feel-rs li .img-content {width: 30%;}
	.feel-home .content-feel-home ul.feel-rs li .content {width: 70%;}
	.header-bottom .banners .slideshow .banner-content {margin-top: -105px;left: 10px;}
	.header-bottom .banners .slideshow .banner-content .title {font-size: 40px;}
	.header-bottom .banners .video-title {display: none;}
	/*--About--*/
	.about-history {background-position: 259% 150px}
	.about-history .content-about-history .history-step ul.cd-multi-steps {margin-bottom: 50px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li {float: left;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li:after {right: auto;top: auto;height: 2px;width: 100%;bottom: 0px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li a {text-align: center;padding: 28px 35px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li a:before {bottom: -2px;top: auto;right: 50%;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:before {bottom: -7px;right: 45%;top: auto;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:after {top: auto;bottom: 4px;right: 45%;
		    border-top: 0px solid transparent;border-right: 9px solid transparent;border-bottom: 22px solid #462976;border-left: 8px solid transparent;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a {margin-top: -29px;font-size: 36px;}
	.content-about .about-section .title-col-span1 {width: 50%;}

	/*  Contact */ 
	.contact-content ul.contact-block li {float: none;width: 100%;padding:0px;margin-bottom: 30px;}
	/*-- Account --*/
	.information-bg {margin-left: 15px;margin-right: 15px;}
	.information-box .btn-down-info {margin-right: 0px;}
	/*-- Quiz --*/
	.test-content .btn-group .btn-content label {margin: 12px 60px auto 60px !important;}
	
}

@media (max-width: 768px) {
	.feel-home .content-feel-home -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;l.feel-rs ul.slick-dots {bottom: -35px;display: block !important;}
	.feel-home .content-feel-home ul.feel-rs li .content h3 a {padding: 30px 0px 10px 0px;}
	.about-history {background:none;}
	.about .tab-about ul.tabs li {float: none;}
	.about .tab-about ul.tabs li a {padding-top: 10px;padding-bottom: 10px;}
}

@media (max-width: 640px) {
	.header-bottom .banners .slideshow{display: none;}
	.header-bottom .banners .slideshow-mobile{display: block;}
	.header-bottom .banners .slideshow-mobile img {width: 100%;}
	.header-bottom .banners .slideshow-mobile .banner-content {background: #ED2163;padding: 55px 0px;color: #ffffff;}
	.header-bottom .banners .slideshow-mobile .banner-content span{font-size: 12px;letter-spacing: 0.02em;text-transform: uppercase;font-weight: 600;line-height: 22px;}
	.header-bottom .banners .slideshow-mobile .banner-content .title{font-size: 24px;text-transform: uppercase;font-weight: bold;}
	.header-bottom .banners .slideshow-mobile .banner-content .p{margin: 0;font-size: 12px;text-transform: uppercase;font-weight: 600;}
	.about-home .title h3, .achievement-home .title h3, .feel-home .title h3, .partner-home .title h3 {font-size: 16px;}
	.about-home .title p, .achievement-home .title p, .feel-home .title p, .partner-home .title p {font-size: 12px;}
	.about-home .content-about-home .tabs-left > .nav-tabs {float: none;margin-right: 0px;width: 100%;margin-bottom: 30px;}
	.about-home .content-about-home .tabs-left .tab-content {float: none;width: 100%;}
	.about-home .content-about-home .tabs-left .content h3 {font-size: 16px;}
	.about-home .content-about-home .tabs-left .content p {font-size: 12px;}
	.achievement-home .content-achievement-home ul li {float: none;width: 100%;margin-bottom: 45px;}
	.feel-home .content-feel-home ul.feel-rs li .img-content {float: none;width: 100%;}
	.feel-home .content-feel-home ul.feel-rs li .content {float: none;width: 100%;}
	.feel-home .content-feel-home ul.feel-rs li .content h3 a {font-size: 16px;}
	.feel-home .content-feel-home ul.feel-rs li .content p {font-size: 12px;}
	.partner-home .content-partner-home ul li {width: 50%;padding: 0;}
	.signup-email {text-align: center;}
	.signup-email p {width: 100%;float: none;font-size: 16px;}
	.signup-email button {float: none;font-size: 16px;width: 40%;}
	/*--About--*/
	
	.page-content .heading h3 {font-size: 24px;}
	.about .title-heading h3 {font-size: 20px;}
	.about .title-heading p,
	.content-about ul.about-horizontal li .description p {font-size: 12px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li a {padding: 28px 24px;}
	.content-about .about-section .title-col-span4 .text-inner-50,
	.content-about .about-section .title-col-span4 .image{display: block;width: 100%;}
	.content-about .about-section .title-col-span4 .text-inner-50 span {font-size: 36px;text-align: center;}
	.content-about .about-section .title-col-span4 .text-inner-50 p {text-align: center;}
	/*--News--*/
	.news-content ul.content-grid li{width: 50%;}
	.news-content ul.content-grid li .desc-hover .description {font-size: 12px;}
	/*-- Contact Form--*/
	#contact-form .btn {padding: 15px 0px !important;width: 100%;text-align: center;}
	.heading-contact h3,
	.contact-form-bg .contact-form-heading h3 {font-size: 24px;}
	.contact-content p {font-size: 12px !important;line-height: 18px !important;}
	.contact-form-bg .contact-form-heading p {font-size: 12px;}
	.signup-social {display: block;margin-left: 0px;margin-top: 30px;text-align: center;}
	.resp-sharing-button__link, .resp-sharing-button__icon {display: block;margin: 8px 0px;font-size: 20px;}
	.resp-sharing-button {width: 100%;border-radius: 0px;padding:3px 0px;}
	/* FAQ */
	.faq-content .panel-heading a {padding: 40px 150px 40px 50px;}
	.faq-content .panel-heading span.textover {font-size: 12px;line-height: 18px;}
	.heading-faq h3{font-size: 18px;}
	.heading-faq p {font-size: 12px;line-height: 18px;}
	/*-- Account --*/
	.info-top{display: block;text-align: center;}
	.info-top .image {width: 100%;display: block;}
	.info-top .image img {max-width: 100%;width: auto;}
	.info-top .description {width: 100%;display: block;padding: 0;margin-top: 30px;}
	.info-top .description h3 {font-size: 16px;}
	.info-top .description span, .info-top .description p {font-size: 12px;}
	.col-left,
	.col-right {width: 100%;float: none;}
	.info-left .title, .info-language .title, .info-hobbies .title,
	.persion-right .title span {font-size: 16px;}
	.info-point ul.point-block li h4,
	.info-education ul.education-block li h4,
	.info-achievements ul.achievements-block li h4,
	.info-achievements ul.achievements-block li h5,
	.persion-right ul li,
	.info-point ul.point-block li p,
	.info-education ul.education-block li p,
	.info-achievements ul.achievements-block li p,
	.info-point ul.point-block li a{font-size: 12px;}
	.information-box .btn-down-info {font-size: 16px;width: 100%;padding:15px 0px;}
	/*-- Quiz --*/
	.quiz-history .heading-title-quiz h3,
	.quiz-detail h1,
	.heading-title-result h3,
	.thanksyou-test h3,
	.quiz-history .heading-title h3{font-size: 24px;}
	.quiz-history .tags-quiz ul.tags-quiz-block li a,
	.quiz-history .heading-title-quiz p,
	.content-quiz ul.quiz-block li .description a,
	.content-quiz ul.quiz-block li .description p,
	.content-quiz ul.quiz-block li .description .quiz-share span,
	.quiz-detail p,
	.test-result .result-parag ul li h4,
	.test-result .result-parag ul li p,
	.thanksyou-test p,
	.quiz-history .heading-title p,
	.quiz-history .test-head ul li span,
	.test-content .btn-group .btn-person span,
	.test-content .btn-group .text-content{font-size: 12px;}
	.quiz-detail .btn-blue {font-size: 24px;display: block;width: 100%;}
	.thanksyou-test .btn-group input {width: auto;}
	.test-content .btn-group .btn-person label.size-large .bg-circle {padding: 8px 17px}
	.test-content .btn-group .btn-person label.size-fit .bg-circle {padding: 3px 12px}
	.test-content .btn-group .btn-person label.size-small .bg-circle {padding: 0px 9px}
	.test-content .btn-group .btn-person label {margin: 12px 3px !important;}
	.test-content .btn-group .btn-content label {margin: 12px 30px auto 30px !important;}

}

@media (max-width: 480px) {
	.header-center .logo {width: 35%;margin-top: 0;padding: 15px 4px 0px 4px;}
	.header-center .megamenu-inner {width: 65%;padding: 10px 0px;}
	.header-center .logo img {width: 100%;}
	.header-center .megamenu-inner .navbar-header .navbar-brand {font-size: 12px;}
	.header-center .megamenu-inner ul li a {font-size: 12px;}
	.partner-home .content-partner-home ul li a img {width: 90%;}
	.signup-email button {width: 100%;}
	.header-bottom .banners .slideshow-mobile .banner-content p {font-size: 12px;}
	/*--About--*/
	.about-history .content-about-history .history-step ul.cd-multi-steps li a {font-size: 12px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a {margin-top: -28px;font-size: 32px;}
	.about-history .content-about-history .history-step .content-multi-steps .description span {font-size: 50px;}
	.about-history .content-about-history .history-step .content-multi-steps .description p {font-size: 12px;}
	.content-about .about-section .title-col-span4 .text-left span {font-size: 20px;}
	.content-about ul.about-horizontal li .image{margin: 0 auto;display: block;}
	.content-about ul.about-horizontal li .description{width: 100%;height: auto;display: block;padding-left: 0;margin-top: 30px;}
	.content-about ul.about-vertical li .image {width: 100%;display: block;margin: 0 auto;}
	.content-about ul.about-vertical li .description {padding-left: 0px;display: block;width: 100%;margin-top: 10px;text-align: center;}
	/*--News--*/
	.news-content ul.content-grid li{width: 100%;float: none;}
	/*  Contact */ 
	.contact-content ul.contact-block li {display: block;}
	.contact-content ul.contact-block li .image, .contact-content ul.contact-block li .description {display: block;width: 100%;}
	.contact-content ul.contact-block li .description {padding-left: 0px;margin-top: 30px;padding-bottom: 20px;border-bottom: 1px #dfdfdf solid;}
	.contact-bottom p {font-size: 12px;line-height: 18px;}
	/* FAQ */
	.faq-content .panel-heading a {padding: 30px 70px 30px 30px;}
	.faq-content .panel-heading .pull-right {right: 13px;}
	/*-- Account --*/
	.info-persion {background: #ffffff;padding: 30px 0px;}
	/*-- Quiz --*/
	.content-quiz ul.quiz-block li .content-bg,
	.content-quiz ul.quiz-block li .image,
	.content-quiz ul.quiz-block li .description {display: block;width: 100%;}
	.test-content .btn-group .btn-person label {margin: 12px 0px !important;}
	.test-content .btn-group .btn-content label {margin: 12px 20px auto 20px !important;}
}

@media (max-width: 375px) {
	/*--About--*/
	.about-history .content-about-history .history-step ul.cd-multi-steps li a {padding: 23px 15px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a {margin-top: -20px;font-size: 26px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:before {width: 12px;height: 12px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:after{border-top: 0px solid transparent;
    border-right: 6px solid transparent;border-bottom: 17px solid #462976;border-left: 6px solid transparent;bottom: 2px;}
    .content-about .about-section .title-col-span1 {float: none;width: 100%;}
    .content-about .about-section .title-col-span2 .imagetext, .content-about .about-section .title-col-span2 .text-inner-30 {width: 100%;display: block;}
   
}

@media (max-width: 320px) {
	/*--About--*/
	.about-history .content-about-history .history-step ul.cd-multi-steps li a {padding: 23px 8px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a {margin-top: -20px;font-size: 26px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:before {width: 12px;height: 12px;}
	.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:after{border-top: 0px solid transparent;
    border-right: 6px solid transparent;border-bottom: 17px solid #462976;border-left: 6px solid transparent;bottom: 2px;}
    .faq-content .panel-heading span.textover {display: none;}
    .faq-content .panel-heading span.title {font-size: 14px;}
    .faq-content .panel-heading .pull-right {font-size: 22px;margin-top: -10px;border-radius: none;
    border: 0px #383838 solid;}
    .info-left, .info-language, .info-hobbies {padding: 40px 20px;}
    .info-language .rating .fa-circle {margin-right: 2px;}
    /*-- Quiz --*/
    .quiz-history .test-head ul li {display: block;width: 100%;margin-bottom: 30px;}
    .test-content .btn-group .btn-person span {display: block;margin: 10px auto;}
    .test-content .btn-group .btn-person span:first-child {text-align: left;}
    .test-content .btn-group .btn-person span:last-child {text-align: right;}
    .test-content .btn-group .btn-content label {margin: 30px 10px auto 10px !important;display: block;}
}