body{
	font-family: 'Montserrat', sans-serif !important;overflow-x: hidden;
}
/*==================Begin Header===========================================================*/
.megamenu-inner.navbar-default {border-color: none !important;border-radius: 0px !important;margin-bottom: 0px !important;border: 0px solid transparent !important;}
.megamenu-inner .navbar-collapse.collapse {float: left;}
.megamenu-inner.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{color: #ffffff;background-color: transparent;}
.megamenu-inner.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color: #ffffff !important;background: transparent !important;text-decoration:underline;}
.header-top img{width: 100%;}
.header-center .logo {float: left;width: 15%;background: #ffffff;text-align: center;margin-top: 30px;}
.header-center .megamenu-inner {float: right;width: 85%;background: #231F58;text-align: center;}
.header-center .megamenu-inner ul {float: left;list-style: none;padding: 0;margin: 0;}
.header-center .megamenu-inner ul li {float: left;position: relative;}
.header-center .megamenu-inner ul li a{color: #ffffff;font-style: normal;font-weight: bold;line-height: normal;font-size: 14px;text-transform: uppercase;
color: #FFFFFF;padding: 44px 20px;display: block;}
.header-bottom .banners {position: relative;}
.header-bottom .banners .slideshow {position: relative;}
.header-bottom .banners .slideshow img {width: 100%;}
.header-bottom .banners .slideshow-mobile {display: none;}
.header-bottom .banners .slideshow .banner-content {position: absolute;top: 50%;margin-top: -150px;left: 80px;color: #ffffff;}
.header-bottom .banners .slideshow .banner-content span{font-size: 18px;letter-spacing: 0.02em;text-transform: uppercase;font-weight: 600;line-height: 22px;}
.header-bottom .banners .slideshow .banner-content .title{font-size: 50px;text-transform: uppercase;font-weight: bold;}
.header-bottom .banners .slideshow .banner-content .p{margin: 0;font-size: 14px;text-transform: uppercase;font-weight: 600;}
.header-bottom .banners .video-title {position: absolute;bottom: 0;left: 50%;margin-left: -400px;background: rgba(232, 232, 232, 0.9);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
.header-bottom .banners .video-title .video-content {float: left;width: 170px;position: relative;}
.header-bottom .banners .video-title .content {float: right;width: 600px;padding-left: 27px;padding-right: 49px;}
.header-bottom .banners .video-title .video-content img{width: 100%;}
.header-bottom .banners .video-title .content h3{color: #000000;text-transform: uppercase;font-size: 14px;font-weight: 600;line-height: 23px;
margin-top: 50px;}
.header-bottom .banners .video-title .content h3 a{color: #000000;}
.header-bottom .banners .video-title .content p {font-weight: 300;line-height: 23px;font-size: 14px;color: #000000;}
.header-bottom .banners .video-title .video-content span.icon-play{position: absolute;width: 36px;height: 36px;background: url(../image/play.png) no-repeat;
top: 50%;left: 50%;margin-left: -17px;margin-top: -17px;	}

/*==================End Header===========================================================*/
/*==================Begin Content===========================================================*/
.about-home,
.feel-home{background: url(../image/Rectangle-2.png) no-repeat top center;background-size: cover;padding-top: 80px;padding-bottom: 60px;}

.about-home .title,
.achievement-home .title,
.feel-home .title,
.partner-home .title{margin-bottom: 35px;padding-left: 15px;}

.about-home .title h3,
.achievement-home .title h3,
.feel-home .title h3,
.partner-home .title h3{font-style: normal;font-weight: bold;line-height: normal;font-size: 30px;text-transform: uppercase;color: #231F58;margin-top: 0;}

.about-home .title p,
.achievement-home .title p,
.feel-home .title p,
.partner-home .title p{font-weight: normal;line-height: normal;font-size: 14px;color: #000000;}
.about-home .content-about-home {padding-left: 15px;padding-right: 15px;}
.about-home .content-about-home .tabs-left > .nav-tabs {float: left;margin-right: 30px;border: 0;width: 20%;}
.about-home .content-about-home .tabs-left > .nav-tabs > li {float: none;}
.about-home .content-about-home .nav-tabs>li>a {color: #000000;border-radius: 0;margin-right:0;border: 0;text-transform: uppercase;font-weight: bold;}
.about-home .content-about-home .nav-tabs>li.active>a {color: #ffffff;background-color: #231F58;;border:0;margin-right:0;}
.about-home .content-about-home .nav-tabs>li>a:hover {color: #ffffff;background-color: #231F58;;border:0;}
.about-home .content-about-home .tabs-left .tab-content {float: left;width: 75%;}
.about-home .content-about-home .tabs-left .content img{width: 100%;}
.about-home .content-about-home .tabs-left .content h3{font-weight: normal;line-height: normal;font-size: 24px;text-align: justify;color: #000;}
.about-home .content-about-home .tabs-left .content p{font-weight: 300;line-height: 21px;font-size: 14px;text-align: justify;color: #000;}
.about-home .content-about-home .tabs-left .view-more a{display: inline-block;background: #231F58;padding: 9px 21px;color: #ffffff;text-transform: uppercase;
margin-top: 30px;}
.achievement-home {background: url(../image/Rectangle-3.png) no-repeat top center;background-size: cover;padding-top: 80px;padding-bottom: 60px;position: relative;}
.achievement-home:before{position: absolute;content: "";background: rgba(35, 31, 88, 0.86);width: 100%;height: 100%;top: 0;left: 0;}
.achievement-home .title {position: relative;}
.achievement-home .title h3{color: #ffffff;}
.achievement-home .title p{color: #ffffff;}
.achievement-home .content-achievement-home ul {margin: 0;padding: 0;list-style: none;}
.achievement-home .content-achievement-home ul li {position: relative;z-index: 100;text-align: center;width: 25%;float: left;padding: 0px 30px;}
.achievement-home .content-achievement-home ul li span.achievement-ratings{font-size: 34px;font-weight: bold;text-transform: uppercase;color: #ffffff;
border: 3px #ffffff solid;border-radius: 50%;display: inline-block;width: 146px;height: 146px;padding: 46px 0px;margin-bottom: 22px;}
.achievement-home .content-achievement-home ul li p{color: #ffffff;font-size: 14px;text-transform: uppercase;font-weight: bold;}

.feel-home .content-feel-home {width: 770px;margin: 0 auto;}
.feel-home .content-feel-home ul.feel-rs {margin: 0;padding: 0;list-style: none;}
.feel-home .content-feel-home ul.feel-rs li {float: left;background: #231F58;position: relative;}
.feel-home .content-feel-home ul.feel-rs li .img-content{float: left;width: 270px;}
.feel-home .content-feel-home ul.feel-rs li .img-content img{width: 100%;}
.feel-home .content-feel-home ul.feel-rs li .content{float: left;width: 500px;padding-left: 28px;padding-right: 41px;}
.feel-home .content-feel-home ul.feel-rs li .content h3{margin: 0;}
.feel-home .content-feel-home ul.feel-rs li .content h3 a{color: #ffffff;text-transform: uppercase;padding: 48px 0px 10px 0px;display: block;font-size: 24px;font-weight: 500;}
.feel-home .content-feel-home ul.feel-rs li .content p {color: #ffffff;font-weight: 300;line-height: 21px;text-align: justify;}

.partner-home {background: url(../image/Rectangle-4.jpg) no-repeat top center;background-size: cover;padding-top: 80px;padding-bottom: 60px;position: relative;}
.partner-home:before{position: absolute;content: "";background: rgba(255, 255, 255, 0.82);width: 100%;height: 100%;top: 0;left: 0;}
.partner-home .title{position: relative;}
.partner-home .content-partner-home {position: relative;}
.partner-home .content-partner-home ul{list-style: none;margin: 0;padding:0;}
.partner-home .content-partner-home ul li{text-align: center;width: 25%;float: left;padding:20px 50px;}
.partner-home .content-partner-home ul li a img{width: 170px;}

.signup-email {background: #231F58;padding: 43px 0px 34px 0px;}
.signup-email p{color: #ffffff;font-size: 24px;text-transform: uppercase;font-weight: 600;width: 631px;float: left;padding: 0px 15px;}
.signup-email button {background: #ED2163;color: #ffffff;text-transform: uppercase;padding: 8px 31px;border: none;float: right;margin-top: 15px;}


.page-content .heading {background-size: cover;padding: 220px 0px;}
.page-content .heading h3 {text-align: center;color: #ffffff;text-transform: uppercase;margin: 0;font-size: 36px;font-weight: bold;}
.page-content .title-about {background: url(../image/about-image-1.png) no-repeat top center;}
.breadcrumb {text-align: left;background-color: #fff !important;margin-bottom: 0 !important;border-radius: 0px !important;border-bottom: 1px #dfdfdf solid;}
.breadcrumb ul {list-style: none;padding: 0;margin: 0;}
.breadcrumb li {padding-right: 10px;float: left;position: relative;line-height: 18px;}
.breadcrumb li a {color: #000;display: block;}
.breadcrumb li a:hover {text-decoration: none;}
.breadcrumb li.icon-li {background: url(../image/icon_arrows.png) no-repeat scroll 0 center;padding-left: 17px;line-height: 18px;color: #000;}

/*--- About History---*/
.about-history {background: url(../image/ROCKET.png) no-repeat;background-position: 130% 150px;}
.about-history .title {margin-bottom: 35px;}
.about-history .title h3 {font-style: normal;font-weight: bold;line-height: normal;font-size: 30px;text-transform: uppercase;color: #231F58;margin-top: 0;}
.about-history .title p {font-weight: normal;line-height: normal;font-size: 14px;color: #000000;}
.about .tab-about {margin-bottom: 40px;margin-top: 75px;}
.about .tab-about ul.tabs {margin: 0;padding: 0;list-style: none;}
.about .tab-about ul.tabs li {float: left;position: relative;}
.about .tab-about ul.tabs li a {display: block;color: #000;font-size: 16px;text-transform: uppercase;padding-right: 40px;}
.about .tab-about ul.tabs li.active a,
.about .tab-about ul.tabs li a:hover {color: #462976;text-decoration: underline;font-weight: bold;}
.about-history .content-about-history {margin-bottom: 60px;}
.about-history .content-about-history .history-step ul.cd-multi-steps{margin:0px;list-style: none;}
.about-history .content-about-history .history-step ul.cd-multi-steps li{position: relative;}
.about-history .content-about-history .history-step ul.cd-multi-steps li a{display: block;text-align: right;padding: 20px 60px 20px 0px;font-size: 16px;color: #b7b7b7;position: relative;}
.about-history .content-about-history .history-step ul.cd-multi-steps li.active a {font-size: 36px;font-weight: bold;color: #000;}
.about-history .content-about-history .history-step ul.cd-multi-steps li a:hover {text-decoration: none;color: #000;}
.about-history .content-about-history .history-step ul.cd-multi-steps li:after {content: "";position: absolute;background-color: #462976;right: 20px;top: 0;
height: 100%;width: 2px;}
.about-history .content-about-history .history-step ul.cd-multi-steps li a:before{content: "";position: absolute;background-color: #462976;z-index: 1;
top: 45%;right: 18px;width: 6px;height: 6px;border-radius: 50%;}
.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:before{width: 17px;height: 17px;right: 13px;top:40%;}
.about-history .content-about-history .history-step ul.cd-multi-steps li.active a:after{content: "";position: absolute;z-index: 2;
right: 23px;top: 40%;border-top: 9px solid transparent;border-right: 17px solid #462976;border-bottom: 8px solid transparent;}
.about-history .content-about-history .history-step .content-multi-steps {margin-top: 30px;}
.about-history .content-about-history .history-step .content-multi-steps .image {float: left;width: 45%;}
.about-history .content-about-history .history-step .content-multi-steps .image img{width: 100%;}
.about-history .content-about-history .history-step .content-multi-steps .description {float: left;width: 55%;padding: 0px 30px;}
.about-history .content-about-history .history-step .content-multi-steps .description span {font-size: 80px;color: #000;display: block;	}
.about-history .content-about-history .history-step .content-multi-steps .description p {color: #000;line-height: 21px;}

.content-about {margin-top: 60px;margin-bottom: 60px;}
.content-about .title {margin-bottom: 0;}
.content-about .about-section {margin-bottom: 30px;}
.content-about .about-section .title-col-span1 {width: 25%;float: left;}
.content-about .about-section .title-col-span2 {float: left; width: 50%;}
.content-about .about-section .title-col-span4 {display: table;width: 100%;}
.content-about .about-section .title-col-span4 .text-inner-50{width: 50%;padding: 30px;display: table-cell;vertical-align: middle;}
.content-about .about-section .title-col-span4 .text-inner-50 span {display: block;font-weight: bold;font-size: 36px;text-align: right;text-transform: uppercase;color: #ffffff;}
.content-about .about-section .title-col-span4 .text-inner-50 p {text-align: right;color: #ffffff;}
.content-about .about-section .title-col-span4 .text-left span{font-size: 20px;text-align:left;}
.content-about .about-section .title-col-span4 .text-left p{text-align:left;}
.content-about .about-section .title-col-span4 .image{width: 50%;display: table-cell;overflow: hidden;}
.content-about .about-section .title-col-span4 .image img {width: 100%;}
.content-about .about-section .title-col-span1 .textover {padding: 50px 30px;min-height: 250px;}
.content-about .about-section .title-col-span1 .textover span{display: block;font-weight: bold;font-size: 20px;text-align: left;text-transform: uppercase;color: #ffffff;}
.content-about .about-section .title-col-span1 .textover p{text-align: left;color: #ffffff;}
.content-about .about-section .title-col-span2 .imagetext {width: 63%;display: table-cell;overflow: hidden;}
.content-about .about-section .title-col-span2 .imagetext img {width: 100%;}
.content-about .about-section .title-col-span2 .text-inner-30 {width: 37%;padding: 30px 15px 30px 30px;display: table-cell;vertical-align: middle;}
.content-about .about-section .title-col-span4 .text-inner-30 span {display: block;font-weight: bold;font-size: 20px;text-align: left;text-transform: uppercase;color: #ffffff;}
.content-about .about-section .title-col-span4 .text-inner-30 p {text-align: left;color: #ffffff;}
.content-about .about-section .bg-color-blue {background: #395398;}
.content-about .about-section .bg-color-blueDark {background: #231F58;}
.content-about .about-section .bg-color-blueLight {background: #27E2DA;}
.content-about .about-section .bg-color-yellow {background: #FFCB14;}
.content-about .about-section .bg-color-pink {background: #ED2163;}
.content-about .about-section .bg-color-purple {background: #462976;}
.content-about .about-section .bg-color-gray {background: #59585A;}
.content-about .about-section .bg-color-orange {background: #FD5C37;}

/*--- About user benefits---*/
.about-user-benefits {background: url(../image/ROCKET1.png) no-repeat #f3f3f3;background-position: -30% bottom;}
.about .title-heading {width: 970px;margin: 0 auto;text-align: center;}
.about .title-heading h3 {font-style: normal;font-weight: bold;line-height: normal;font-size: 30px;text-transform: uppercase;color: #231F58;margin-top: 0;}
.about .title-heading p {font-weight: normal;line-height: normal;font-size: 14px;color: #000000;}
.content-about .content-about-wrap {width: 970px;margin: 0 auto;}
.content-about ul.about-horizontal {margin: 0;padding: 0;list-style: none;}
.content-about ul.about-horizontal li {margin-bottom: 40px;display: table;}
.content-about ul.about-horizontal li .image{width: 272px;height: 271px;border-radius: 50%;background: #ffffff;overflow: hidden;display: table-cell;vertical-align: middle;}
.content-about ul.about-horizontal li .description{width: 670px;display: table-cell;vertical-align: middle;padding-left: 27px;}
.content-about ul.about-horizontal li .description a{display: block;font-size: 24px;color: #231F58;text-transform: uppercase;margin-bottom: 10px;font-weight: bold;}
.content-about ul.about-horizontal li .description p{color: #000;text-align: justify;}
.feel-about .title {text-align: center;}

/*--- About member profile---*/
.about-member-profiles {background: url(../image/ROCKET.png) no-repeat #f3f3f3;background-position: 130% bottom;}
.about-member-profiles .content-about {border-top: 1px #dfdfdf solid;padding-top: 40px;margin-top: 40px;}
.content-about ul.about-vertical {margin: 0;padding: 0;list-style: none;}
.content-about ul.about-vertical li {margin-bottom: 40px;width: 50%;float: left;padding-right: 30px;}
.content-about ul.about-vertical li .image{width: 170px;height: 170px;border-radius: 50%;background: #ffffff;overflow: hidden;float: left;}
.content-about ul.about-vertical li .image img {width: 100%;}
.content-about ul.about-vertical li .description {width: 270px;float: left;padding-left: 27px;}
.content-about ul.about-vertical li .description a{display: block;font-size: 16px;color: #000;text-transform: uppercase;font-weight: bold;margin-top: 10px;}
.content-about ul.about-vertical li .description span{display: block;color: #000;font-weight: 500;margin-bottom:5px;}
.content-about ul.about-vertical li .description p{color: #000;text-align: justify;}

/*--- News---*/
.page-content .title-news {background: url(../image/new-heading.jpg) no-repeat top center;}
.news {margin-top: 60px;margin-bottom: 60px;}
.tab-news .tabs-top ul.nav-tabs {border-bottom: 0px;}
.tab-news .tabs-top ul.nav-tabs>li {padding-right: 39px;}
.tab-news .tabs-top ul.nav-tabs>li>a {border: 0px solid #ddd;border-radius:0;color: #000;padding: 10px 0px;text-transform: uppercase;position: relative;} 
.tab-news .tabs-top ul.nav-tabs>li.active>a,
.tab-news .tabs-top ul.nav-tabs>li.active>a:hover,
.tab-news .tabs-top ul.nav-tabs>li.active>a:focus {background-color: transparent;color: #462976;font-weight: bold;}
.tab-news .tabs-top ul.nav-tabs>li.active>a:after,
.tab-news .tabs-top ul.nav-tabs>li:hover>a:after{position: absolute;content: "";height: 1px;width: 100%;bottom: 5px;left: 0;background: #462976;}
.tab-news .tabs-top .nav>li>a:hover,
.tab-news .tabs-top .nav>li>a:focus {background-color: transparent;color: #462976;font-weight: bold;}
.tab-news .tabs-top .tab-content {margin-top: 40px;}
.news-content ul.content-grid {margin: 0;padding: 0;list-style: none;}
.news-content ul.content-grid li {position: relative;float: left;width: 33.33%;}
.news-content ul.content-grid li img {width: 100%;}
.news-content ul.content-grid li .desc-hover {position: absolute;width: 100%;height: 100%;background: rgba(70, 41, 118, 0.87);top: 0;left: 0;display: none;}
.news-content ul.content-grid li:hover .desc-hover {display: block;}
.news-content ul.content-grid li .desc-hover .description {padding:0px 20px 15px 20px;position: absolute;bottom: 0;z-index: 1;}
.news-content ul.content-grid li .desc-hover .description a {color: #ffffff;font-weight: bold;text-transform: uppercase;display: block;margin-bottom: 6px;}
.news-content ul.content-grid li .desc-hover .description span.date {display: block;font-size: 11px;color: #ffffff;margin-bottom: 7px;}
.news-content ul.content-grid li .desc-hover .description p {color: #ffffff;}
.news-detail img {margin-bottom: 20px;max-width: 100%;}
.news-detail h1 {font-size: 24px;margin-bottom: 13px;margin-top: 0;font-weight: bold;line-height: normal;color: #000;}
.news-detail p{text-align: justify;color: #000;margin-bottom: 15px;line-height: 21px;}
/*-----news hot--------*/
.news-hot .news-heading {margin-bottom: 20px;}
.news-hot .news-heading span{color: #231F58;text-transform: uppercase;font-size: 24px;position: relative;font-weight: 500;}
.news-hot .news-heading span:before{position: absolute;content: "";height: 1px;width: 100%;background: #231F58;bottom: -4px;}
.news-hot ul.new-block {margin-bottom: 30px;padding: 0;list-style: none;}
.news-hot ul.new-block li {margin-bottom: 30px;}
.news-hot ul.new-block li a {color: #000;display: block;margin-bottom: 10px;font-size: 16px;font-weight: 500;line-height: normal;}
.news-hot ul.new-block li a:hover {color: #231F58;}
.news-hot ul.new-block li span.date {color: #000;font-size: 11px;}
.calendar-sidebar {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}
/*----pagination------*/
.pagination-nav {text-align: center;margin-top: 15px;}
.pagination .fa-chevron-left,
.pagination .fa-chevron-right {font-size: 12px;}
.pagination .fa-chevron-left {margin-right: 5px;}
.pagination .fa-chevron-right {margin-left: 5px;}
.pagination>li:first-child>a, .pagination>li:first-child>span {border-top-left-radius: 0px !important;border-bottom-left-radius: 0px !important;background: transparent !important;border: 1px transparent solid !important;}
.pagination>li:last-child>a, .pagination>li:last-child>span {border-top-right-radius: 0px !important;border-bottom-right-radius: 0px !important;background: transparent !important;border: 1px transparent solid !important;}
.pagination>li>a, .pagination>li>span {color: #231F58 !important;margin: 0 8px;border: 1px #231F58 solid !important;font-weight: bold;
	transition: all 0.1s ease-in-out;-webkit-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li.active>a,
.pagination>li>span:focus,
.pagination>li>span:hover {color: #ffffff !important; background: #231F58 !important;border: 1px #231F58 solid !important;}
.pagination>li:first-child>a .icon-prev,
.pagination>li:last-child>a .icon-next {width: 31px;height: 20px;z-index: 1;display: block;}
.pagination>li:first-child>a .icon-prev{background: url(../image/arrow-left.png) no-repeat center;}
.pagination>li:last-child>a .icon-next{background: url(../image/arrow-right.png) no-repeat center;}
.pagination>li:first-child>a:focus,
.pagination>li:first-child>a:hover,
.pagination>li.active:first-child>a,
.pagination>li:first-child>span:focus,
.pagination>li:first-child>span:hover,
.pagination>li:last-child>a:focus,
.pagination>li:last-child>a:hover,
.pagination>li.active:last-child>a,
.pagination>li:last-child>span:focus,
.pagination>li:last-child>span:hover {background: transparent !important;border: 1px transparent solid !important;}
/*   Social Sharing   */
.sharing-social {margin: 15px auto;}
.sharing-social a:hover{color: #ffffff;}
.resp-sharing-button__link,
.resp-sharing-button__icon {display: inline-block;}
.resp-sharing-button__link {text-decoration: none;color: #fff;margin: 0.5em;}
.resp-sharing-button {border-radius: 50%;transition: 25ms ease-out;padding: 0.5em 0em;width:35px;text-align:center;font-family: Helvetica Neue,Helvetica,Arial,sans-serif;}
.resp-sharing-button__icon svg {width: 1em;height: 1em;margin-right: 0.4em;vertical-align: top;}
.resp-sharing-button--small svg {margin: 0;vertical-align: middle;}
/* Non solid icons get a stroke */
.resp-sharing-button__icon {stroke: #fff;fill: none;}
/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {fill: #fff;stroke: none;}
.resp-sharing-button--twitter {background-color: #55acee;}
.resp-sharing-button--twitter:hover {background-color: #2795e9;}
.resp-sharing-button--facebook {background-color: #3b5998;}
.resp-sharing-button--facebook:hover {background-color: #2d4373;}
.resp-sharing-button--google {background-color: #dd4b39;}
.resp-sharing-button--google:hover {background-color: #c23321;}
.resp-sharing-button--instagram {background-color: #6A453B;}
.resp-sharing-button--instagram:hover {background-color: #633b30;}
/* ----Contact--- */
.page-content .title-contact {background: url(../image/image1-3.png) no-repeat top center;}
.contact-location {background: #F3F3F3;padding: 60px 0px;}
.heading-contact h3{font-size: 36px;color: #231F58;text-transform: uppercase;font-weight: bold;line-height: normal;margin-top: 0;margin-bottom: 15px;}
.heading-contact p.text-contact {color: #464646;line-height: 21px;font-size: 14px;}
.contact-content ul.contact-block {margin-top: 25px;margin-bottom: 30px;list-style: none;padding: 0;}
.contact-content ul.contact-block li {float: left;width: 50%;padding: 0px 30px 30px 0px;display: table;}
.contact-content ul.contact-block li .image,
.contact-content ul.contact-block li .description{display:table-cell;width: 50%;vertical-align: middle;}
.contact-content ul.contact-block li .image img{width: 100%;}
.contact-content ul.contact-block li .description {padding-left: 30px;}
.contact-content ul.contact-block li .description span{display: block;color: #000;margin-bottom: 11px;}
.contact-content ul.contact-block li .description span.location-title {margin-bottom: 16px;font-size: 16px;font-weight: bold;text-transform: uppercase;}
.contact-content ul.contact-block li .description span .fa-map,
.contact-content ul.contact-block li .description span .fa-at,
.contact-content ul.contact-block li .description span .fa-phone,
.contact-content ul.contact-block li .description span .fa-clock {margin-right: 10px;}
.contact-bottom{ margin-top: 30px; }
.contact-bottom h3 {font-size: 24px;color: #231F58;font-weight: bold;}
.contact-bottom p {color: #000000;text-align: justify;margin-bottom: 12px;line-height: 23px;}
.contact-consulting {padding: 60px 0px;}
.contact-consulting .contact-content p {color: #000000;text-align: justify;line-height: 21px;font-size: 14px;margin-bottom: 15px;}
.contact-consulting .contact-content img {max-width: 100%;margin-bottom: 20px;}
/*----Contact Form-----*/
.contact-form-bg {background: #f3f3f3;padding: 60px 0px;}
.contact-form-bg .contact-form-heading h3 {color: #231F58;font-size: 36px;text-transform: uppercase;font-weight: bold;margin-top: 0;margin-bottom: 7px;text-align: center;}
.contact-form-bg .contact-form-heading p {color: #464646;line-height: 21px;font-size: 14px;text-align: center;}
.contact-wrap {width: 970px;margin: 0 auto;}
#contact-form {margin-top: 30px;}
.form-group {margin-bottom: 30px !important;}
.form-control {height: 50px !important;border: 0px solid #ccc !important;border-radius: 0px !important;padding: 10px 16px !important;}
textarea.form-control {height: 151px !important;}
#contact-form .btn {padding: 15px 127px !important;border-radius: 0px !important;font-weight: bold;text-transform: uppercase;}
#contact-form .btn .fa-paper-plane {margin-right: 7px;}
.signup-social {display: inline-block;margin-left: 30px;}
/*----Login Form-----*/
.login-form-heading {height: 600px;background: url(../image/ROCKET2.png) no-repeat left 140%;}
.login-form-heading h3{color: #231F58;font-size: 36px;text-transform: uppercase;font-weight: bold;margin-top: 0;margin-bottom: 7px;}
.login-form-heading p{color: #464646;line-height: 21px;font-size: 14px;text-align: justify;}
.login-form-heading .signup-back {font-weight: bold;}
.login-form-heading .signup-back a {color: #231F58;}
.page-content .title-login {background: linear-gradient(0deg, #FFC700, #FFC700), url(236316500-medical-student-professor-lecturer-campus.jpg), url(image.png);}
.btn.btn-login {width: 100% !important;padding: 15px 0px !important;background-color: #231F58;border-color: #231F58;}
.btn.btn-login:hover {background-color: #231F58 !important;border-color: #231F58 !important;}
.login-social {margin-top: 18px;}
.form-group .textpassword {color: #231F58;}

/*----FAQ-----*/
.heading-faq h3{color: #231F58;font-size: 36px;text-transform: uppercase;font-weight: bold;margin-top: 0;margin-bottom: 7px;text-align: center;}
.heading-faq p {color: #000000;text-align: center;margin-bottom: 12px;line-height: 23px;}
.faq-content {margin-top: 30px;}
.faq-content .panel-default {border-color: transparent;}
.faq-content .panel {border: 0px solid transparent;box-shadow:none;}
.faq-content .panel-group .panel {border-radius: 0px;background-color: transparent;}
.faq-content .panel-default>.panel-heading {color: #000;background-color: #ffffff;border-color: transparent;border-radius: 0;}
.faq-content .panel-heading {position: relative;padding: 0px;}
.faq-content .panel-heading .pull-right {position: absolute;right: 50px;top: 50%;margin-top: -20px;font-size: 32px;border-radius: 50%;border: 1px #383838 solid;
	width: 36px;text-align: center;color: #383838;}
.faq-content .panel-heading a{padding: 50px 190px 50px 60px;display: block;}
.faq-content .panel-heading a:hover {text-decoration: none;}
.faq-content .panel-heading span.title,
.faq-content .panel-heading span.textover {display: block;margin-bottom: 8px;}
.faq-content .panel-heading span.title {text-transform: uppercase;font-weight: bold;}
.faq-content .panel-heading span.textover {font-size: 14px;}
.faq-content .panel-default>.panel-heading+.panel-collapse>.panel-body{border-top:0px solid transparent;;}
.faq-content .panel-group .panel-heading+.panel-collapse>.panel-body,
.faq-content .panel-group .panel-heading+.panel-collapse>.list-group {border-top-color:transparent;}
.faq-content .panel-group .panel+.panel {margin-top: 10px;}
.faq-content .panel-body {padding: 21px 60px;color: #000;font-size: 14px;line-height: 21px;}

/*---- Account -----*/
.col-left {float: left;width: 33.333333%;}
.col-right {float: left;width: 66.666667%;}
.information-box {margin-bottom: 60px;margin-top: 60px;}
.information-bg {background: #464646;}
.info-top {background: #464646;padding: 52px;display: table;}
.info-left {background: #ED2163;}
.info-language {background: #462976;}
.info-hobbies {background: #464646;}
.info-left,
.info-language,
.info-hobbies {padding: 50px 30px;}
.info-left .title,
.info-language .title,
.info-hobbies .title {color: #ffffff;text-transform: uppercase;font-size: 24px;font-weight: bold;position: relative;display: inline-block;margin-bottom: 20px;}
.info-left .title:before,
.info-language .title:before,
.info-hobbies .title:before {position: absolute;content: "";background: #ffffff;height: 1px;width: 70%;bottom: -5px;left: 0;}
.info-top .image {width: 27%;display: table-cell;vertical-align: middle;}
.info-top .image img {width: 100%;}
.info-top .description {width: 73%;display: table-cell;padding-left: 60px;vertical-align: middle;}
.info-top .description h3 {font-size: 36px;font-weight: bold;text-transform: uppercase;margin-top: 0px;margin-bottom: 16px;color: #ffffff;}
.info-top .description span,
.info-top .description p {display: block;font-size: 24px;color: #ffffff;}
.info-left ul.content {margin: 0;padding: 0;list-style: none;}
.info-left ul.content li {margin: 16px auto;color: #ffffff;}
.info-left ul.content li span {color: #ffffff;font-weight: 500;margin-left: 15px;}
.info-language .rating {display: inline-block;margin-left: 20px;}
.info-language .rating .fa-circle {color: #ffffff;font-size: 10px;margin-right: 10px;}
.info-language .rating .checked {color: #27E2DA;}
.info-language .content .language-block,
.info-hobbies .content .hobbies-block {margin: 16px auto;}
.info-hobbies .content .hobbies-block span {margin-right: 20px;display: inline-block;}

.info-persion {background: #f3f3f3;padding: 30px 100px 30px 30px;}
.persion-right {margin-bottom: 35px;}
.persion-right .title {margin-bottom: 30px;position: relative;display: inline-block;}
.persion-right .title:after {position: absolute;content: "";height: 1px;width: 50%;background: #ED2163;bottom: -15px;}
.persion-right .title span{color: #ED2163;font-size: 24px;text-transform: uppercase;font-weight: bold;margin: 0;line-height: 36px;margin-left: 25px;}
.info-education .title:after {background: #214A81;}
.info-education .title span {color: #214A81;}
.info-skill .title:after {background: #462976;}
.info-skill .title span {color: #462976;}
.info-achievements .title:after {background: #FF9B01;}
.info-achievements .title span {color: #FF9B01}
.persion-right ul {margin: 0;padding: 0;list-style: none;}
.persion-right ul li {position: relative;padding-bottom: 20px;}
.info-point ul.point-block li h4,
.info-education ul.education-block li h4,
.info-achievements ul.achievements-block li h4,
.info-achievements ul.achievements-block li h5{margin-top: 0; margin-bottom: 5px;line-height: 21px;font-size: 14px;text-transform: uppercase;color: #000;font-weight: bold;}
.info-point ul.point-block li p,
.info-education ul.education-block li p
,.info-achievements ul.achievements-block li p{color: #000;line-height: 21px;font-size: 14px;margin-bottom: 5px;}
.info-point ul.point-block li a{display: block;text-decoration: underline;color: #ED2163;}
.info-point ul.point-block li .color-point {color: #ED2163;font-weight: bold;}

.info-education ul.education-block li {padding-bottom: 30px;}
.info-education ul.education-block li:before,
.info-achievements ul.achievements-block li:before {position: absolute;content: "";border-radius: 50%;width: 8px;height: 8px;background: #214A81;
top: 6px; left: -17px;}
.info-education ul.education-block li:last-child {padding-bottom: 0px;}
.info-education ul.education-block {position: relative;padding-left: 14px;}
.info-education ul.education-block:before {position: absolute;content: "";width: 2px;height: 100%;background: #214A81;left: 0;}

.info-skill ul.skill-block li {display: inline-block;padding: 0px 40px 30px 0px;text-align: center;}
.info-skill ul.skill-block li span {display: block;margin-top: 5px;}

.info-achievements ul.achievements-block {padding-left: 14px;}
.info-achievements ul.achievements-block li {padding-bottom: 30px;}
.info-achievements ul.achievements-block li:before {background: #FF9B01;}

.information-box .btn {background: #231F58;color: #ffffff;text-transform: uppercase;padding: 15px 55px;border-radius: 0px;font-weight: bold;
box-shadow: none;}
.information-box .btn:hover,
.information-box .btn:focus {color: #ffffff;}
.information-box .btn-down-info {margin-top: 30px;float: right;margin-right: -15px;}
.information-box .btn-down-info .icon-arrow-down {background: url(../image/arrow-down.png) no-repeat;width: 12px;height: 12px;display: inline-block;
margin-left: 10px;background-position-y: 2px;}

/*---- Quiz -----*/
.page-content .title-quiz {background: url(../image/image-quiz.jpg) no-repeat top center;}
.quiz-history {margin: 60px auto;}
.quiz-history .heading-title-quiz {margin-bottom: 20px;float: left;}
.quiz-history .heading-title-quiz h3 {font-size: 36px;color: #231F58;font-weight: bold;line-height: normal;text-transform: uppercase;margin-top: 0px;}
.quiz-history .heading-title-quiz p {font-weight: normal;line-height: normal;font-size: 14px;color: #000000;}
.quiz-history .tab-quiz ul.tabs{margin: 0;padding: 0;list-style: none;}
.quiz-history .tab-quiz ul.tabs li {display: inline-block;margin-left: 15px;margin-top: 20px;margin-right: 15px;}
.quiz-history .tab-quiz ul.tabs li a{color: #000000;text-transform: uppercase;font-size: 14px;font-weight: normal;line-height: normal;display: block;position: relative;
padding: 5px 0px;}
.quiz-history .tab-quiz ul.tabs li.active a,
.quiz-history .tab-quiz ul.tabs li a:hover {text-decoration: none;color: #462976;font-weight: bold;}
.quiz-history .tab-quiz ul.tabs li.active a:before,
.quiz-history .tab-quiz ul.tabs li a:hover:before{position: absolute;content: "";width: 100%;height: 1px;background: #462976;bottom: 0px;}
.quiz-history .tags-quiz {padding: 0px 60px;text-align: center;margin-bottom: 35px;}
.quiz-history .tags-quiz ul.tags-quiz-block {margin: 0;padding: 0;list-style: none;}
.quiz-history .tags-quiz ul.tags-quiz-block li {margin: 5px;display: inline-block;}
.quiz-history .tags-quiz ul.tags-quiz-block li a {display: block;padding: 8px 15px;border-radius: 38px;border: 1px #231F58 solid;color: #000;}
.quiz-history .tags-quiz ul.tags-quiz-block li.active a,
.quiz-history .tags-quiz ul.tags-quiz-block li a:hover {text-decoration: none;background: #231F58;color: #ffffff;}

.content-quiz ul.quiz-block {margin: 0;padding: 0;list-style: none;}
.content-quiz ul.quiz-block li {padding-right: 30px;margin-bottom: 30px;float: left;width: 50%;}
.content-quiz ul.quiz-block li:nth-child(2n+2) {padding-right: 0px;}
.content-quiz ul.quiz-block li .content-bg {background: #f6f6f6;}
.content-quiz ul.quiz-block li .image {width: 50%;float: left;overflow: hidden;}
.content-quiz ul.quiz-block li .image img{width: 100%;}
.content-quiz ul.quiz-block li .description {width: 50%;float: left;padding: 20px;}
.content-quiz ul.quiz-block li .description a {font-weight: 600;line-height: 23px;font-size: 14px;text-transform: uppercase;color: #000000;display: block;
margin-bottom: 15px;}
.content-quiz ul.quiz-block li .description p {font-weight: 300;line-height: 20px;font-size: 14px;text-align: justify;color: #000000;}
.content-quiz ul.quiz-block li .description .quiz-share {margin-top: 15px;}
.content-quiz ul.quiz-block li .description .quiz-share span{display: inline-block;padding-right: 25px;color: #b7b7b7;}
.content-quiz ul.quiz-block li .description .quiz-share .fa-share-alt,
.content-quiz ul.quiz-block li .description .quiz-share .fa-eye {margin-right: 5px;}

.quiz-detail {text-align: center;}
.quiz-detail h1 {font-weight: bold;line-height: normal;font-size: 36px;text-transform: uppercase;color: #231F58;margin-top:0px;text-align: left;}
.quiz-detail img {max-width: 100%;margin-bottom: 15px;text-align: left;}
.quiz-detail p {margin-bottom: 15px;text-align: left;}
.quiz-detail .btn {padding: 11px 45px;color: #ffffff;font-size: 24px;text-transform: uppercase;font-weight: bold;border: 0px solid transparent;
border-radius: 0px;background: #231F58;}
.quiz-detail .btn:hover {color: #ffffff;}
.quiz-detail .btn-blue {text-align: center;margin-top: 20px;}

.quiz-wrap {margin: 0 auto;width: 820px;}
.quiz-history .heading-title {text-align: center;margin-top: 30px;margin-bottom: 45px;}
.quiz-history .heading-title h3{font-size: 36px;color: #231F58;font-weight: bold;line-height: normal;text-transform: uppercase;margin-top: 0px;}
.quiz-history .heading-title p {font-weight: normal;line-height: 21px;font-size: 14px;color: #000000;}
.quiz-history .test-head {text-align: center;}
.quiz-history .test-head ul {margin: 0;padding: 0;list-style: none;}
.quiz-history .test-head ul li {display: inline-block;width: 33.333333%;float: left;padding: 0px 20px;}
.quiz-history .test-head ul li span {display: block;color: #000;font-size: 14px;margin-top: 30px;font-weight: bold;}

.test-content .btn-group {margin-bottom: 40px;}
.test-content .btn-group .text-content {font-size: 14px;text-align: center;font-weight: bold;margin-bottom: 10px;}
.test-content .btn-group .text-content .text-size {font-size: 24px;}
.test-content .btn-group .btn-person span {text-transform: uppercase;color: #000;font-size: 14px;font-weight: bold;margin: auto 10px;}
.test-content .btn-group .btn:active,
.test-content .btn-group .btn.active {box-shadow:none;outline: none;}
.test-content .btn-group .btn-person label {margin: 12px 8px !important;position: relative;padding: 0px;}
.test-content .btn-group .btn-person label.btn-pink .bg-circle{border: 3px solid #ED2163;}
.test-content .btn-group .btn-person label.btn-blue .bg-circle{border: 3px solid #462976;}
.test-content .btn-group .btn-person label.btn-gray .bg-circle{border: 3px solid #b7b7b7;}
.test-content .btn-group .btn-person label.size-large .bg-circle {padding: 13px 22px;}
.test-content .btn-group .btn-person label.size-fit .bg-circle {padding: 8px 17px;}
.test-content .btn-group .btn-person label.size-small .bg-circle {padding: 3px 12px;}
.btn>input[type=radio] {position: absolute;z-index: -1;filter: alpha(opacity=0);opacity: 0;}
.test-content .btn-group .btn-person label .bg-circle {padding: 11px 16px;border: 3px solid #b7b7b7;border-radius: 50%;background: transparent;display: inline;}
.test-content .btn-group .btn-person label.active .bg-circle {background: #b7b7b7;}
.test-content .btn-group .btn-person label.active.btn-pink .bg-circle {background: #ED2163;}
.test-content .btn-group .btn-person label.active.btn-blue .bg-circle {background: #462976;}
.test-content .btn-group .btn-person label.active.btn-gray .bg-circle {background: #b7b7b7;}
.test-content .btn-blue-view {padding: 11px 45px;color: #ffffff;font-size: 14px;text-transform: uppercase;font-weight: bold;border: 0px solid transparent;
border-radius: 0px;background: #231F58;text-align: center;}
.test-content .btn-blue-view:hover {color: #ffffff;}
.sharing-social .head-share {margin-top: 20px;}
.sharing-social .head-share span{font-size: 24px;color: #000;font-weight: bold;}
.sharing-social .head-share p{font-size: 14px;color: #000;}

.test-content .btn-group .btn-content label {margin: 12px 80px auto 80px !important;position: relative;padding: 0px;}
.test-content .btn-group .btn-content label .bg-circle{border: 3px solid #b7b7b7;display: inline;padding: 5px 9px;border-radius: 50%;background: transparent;color: #000;}
.test-content .btn-group .btn-content label.active .bg-circle{border: 3px solid #ED2163;background:#ED2163;color: #ffffff;}
.test-content .btn-group .btn-content .text-rep {margin-top: 15px;color: #000;font-size: 14px;text-align: center;}

.heading-title-result h3{margin-bottom: 20px;margin-top: 0px;font-size: 30px;color: #231F58;font-weight: bold;text-transform: uppercase;}
.test-result .progressbar {width: 100%;background-color: #E8E8E8;position: relative;margin-bottom: 25px;border-radius: 22.5px;height: 45px;}
.test-result .progressbar .progress {background-color: #231F58;border-radius: 22.5px 0px 0px 22.5px;height: 45px;}
.test-result .progressbar .percentCount {background: #ffffff;color: #000;border-radius: 26px;height: 40px;width: 40px;text-align: center;position: absolute;line-height: 40px;}
.test-result .progressbar .percentCount.percentLeft {left: 2px;top: 2px;}
.test-result .progressbar .percentCount.percentRight {right: 2px;top: 2px;}
.test-result .progressbar .text-progress {color: #ffffff;font-size: 14px;text-transform: uppercase;position: absolute;left: 50px;top: 12px;font-weight: bold;}
.test-result .progressbarRight {background-color: #231F58;}
.test-result .progressbarRight .progress {background-color: #E8E8E8;}
.test-result .progressbarRight .text-progress {left: auto;right: 50px;}
.test-result .progressbar .progress {-moz-animation:progress 2s ease-out;
	-webkit-animation:progress 2s ease-out;}
@-moz-keyframes progress        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes progress        { 0%  { width:0px;} 100%{ width:90%;}  }

.test-result .result-parag ul {list-style: none;padding: 0;margin: 0;}
.test-result .result-parag ul li {float: left;width: 50%;padding-right: 30px;}
.test-result .result-parag ul li:last-child {padding-right: 0px;}
.test-result .result-parag ul li h4 {color: #000;font-size: 14px;font-weight: bold;text-transform: uppercase;}
.test-result .result-parag ul li p {color: #000;font-size: 14px;text-align: justify;}

.thanksyou-test {background: #F3F3F3;padding: 70px 0px 40px 0px;text-align: center; }
.thanksyou-test h3 {font-weight: bold;line-height: normal;font-size: 36px;text-transform: uppercase;color: #231F58;}
.thanksyou-test p {line-height: 21px;font-size: 14px;text-align: center;color: #000000;text-transform: uppercase;}
.thanksyou-test .btn-group input{padding: 5px 10px;width: 550px;}
.thanksyou-test .btn-group .btn-blue {padding: 7px 37px;color: #ffffff;background:#231F58;border-radius: none;border: none;box-shadow: none;
margin-left: -4px;}


/*==================End Content==========================================================*/
/*==================Begin Footer===========================================================*/
#main-footer {border-top: 1px #b7b7b7 solid;}
.footer-top {background: #ffffff;padding: 69px 0px 52px 0px;}
.footer-top .footer-position .logo-bottom p {color: #000;font-weight: 300;line-height: 21px;margin: 5px auto 15px auto;}
.footer-top .footer-position ul.icon-social {margin: 0;padding: 0;list-style: none;}
.footer-top .footer-position ul.icon-social li {float: left;}
.footer-top .footer-position ul.icon-social li a{padding: 5px 30px 5px 0px;color: #000;display: block;}
.footer-top .footer-position .cpy-right p{font-size: 12px;color: #000;}
.footer-top .footer-position .footer-heading {color: #000;font-weight: 600;font-size: 18px;text-transform: uppercase;margin-top: 12px;margin-bottom: 32px;}
.footer-top .footer-position ul.footer-content {margin: 0;padding: 0;list-style: none;}
.footer-top .footer-position ul.footer-content li a{padding-bottom: 12px;color: #000;display: block;}
/*==================End Footer===========================================================*/
/*--- edit slick ---*/
.slick-prev {background: url(../image/icon-prev.png) no-repeat center !important;left: -71px !important;}
.slick-next {background: url(../image/icon-next.png) no-repeat center !important;right: -71px !important;}
.slick-prev,
.slick-next {width: 30px !important; height: 62px !important;text-indent: -9999px;z-index: 999;}
.feel-home .content-feel-home ul.feel-rs ul.slick-dots {bottom: -35px;display: none !important;}
.feel-home .content-feel-home ul.feel-rs ul.slick-dots li {background: transparent;float: none;width: 20px;}






